In [1]:
# Import packages
import pandas as pd
import numpy as np
import re
from scipy.stats import ttest_ind

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}
states

{'AK': 'Alaska',
 'AL': 'Alabama',
 'AR': 'Arkansas',
 'AS': 'American Samoa',
 'AZ': 'Arizona',
 'CA': 'California',
 'CO': 'Colorado',
 'CT': 'Connecticut',
 'DC': 'District of Columbia',
 'DE': 'Delaware',
 'FL': 'Florida',
 'GA': 'Georgia',
 'GU': 'Guam',
 'HI': 'Hawaii',
 'IA': 'Iowa',
 'ID': 'Idaho',
 'IL': 'Illinois',
 'IN': 'Indiana',
 'KS': 'Kansas',
 'KY': 'Kentucky',
 'LA': 'Louisiana',
 'MA': 'Massachusetts',
 'MD': 'Maryland',
 'ME': 'Maine',
 'MI': 'Michigan',
 'MN': 'Minnesota',
 'MO': 'Missouri',
 'MP': 'Northern Mariana Islands',
 'MS': 'Mississippi',
 'MT': 'Montana',
 'NA': 'National',
 'NC': 'North Carolina',
 'ND': 'North Dakota',
 'NE': 'Nebraska',
 'NH': 'New Hampshire',
 'NJ': 'New Jersey',
 'NM': 'New Mexico',
 'NV': 'Nevada',
 'NY': 'New York',
 'OH': 'Ohio',
 'OK': 'Oklahoma',
 'OR': 'Oregon',
 'PA': 'Pennsylvania',
 'PR': 'Puerto Rico',
 'RI': 'Rhode Island',
 'SC': 'South Carolina',
 'SD': 'South Dakota',
 'TN': 'Tennessee',
 'TX': 'Texas',
 'UT': 'Utah',
 'VA': 'Virginia',
 'VI': 'Virgin Islands',
 'VT': 'Vermont',
 'WA': 'Washington',
 'WI': 'Wisconsin',
 'WV': 'West Virginia',
 'WY': 'Wyoming'}

In [3]:
stateDF =  pd.DataFrame(states.items(), columns=['State', 'State Name'])
stateDF.head()

  State     State Name
0    WA     Washington
1    WI      Wisconsin
2    WV  West Virginia
3    FL        Florida
4    WY        Wyoming

In [3]:
lst=[]
state=''
region=''

# Clean up the data.  Remove any [], () and anything inside them.
f = open('university_towns.txt', 'r')
for line in f:
    if '[ed' in line:
        state = line.split('[')[0]
    else:        
        region = re.split(r'[\(\[]', line)[0].strip()
        
        lst.append([state,region])

In [55]:
univDF = pd.DataFrame(lst, columns=['State', 'RegionName'])
univDF.head()

NameError: name 'lst' is not defined

In [5]:
# Need regular expressions for this
import re
countryName = lambda x: re.sub(r'\((.*?)\)|\[(.*?)\]', '', x)

In [16]:
# Read GDP dataset
from pandas import ExcelFile 
from pandas import ExcelWriter


# Load the excel file
gdpDF = pd.read_excel('gdplev.xlsx', skiprows = 220, usecols=[4,6], header = None, names = ['quota', 'chained gdp in billions'] )
gdpDF.head(10)

    quota  chained gdp in billions
0  2000Q1                  12359.1
1  2000Q2                  12592.5
2  2000Q3                  12607.7
3  2000Q4                  12679.3
4  2001Q1                  12643.3
5  2001Q2                  12710.3
6  2001Q3                  12670.1
7  2001Q4                  12705.3
8  2002Q1                  12822.3
9  2002Q2                  12893.0

In [44]:
# Find two consecutive decline of GDP and two consecutive improvement of GDP
recessionStart = 0
recessionEnd = 0
for i, row in gdpDF.iterrows():
    if i > 1:
        if ((gdpDF['chained gdp in billions'][i-1] > gdpDF['chained gdp in billions'][i]) & (gdpDF['chained gdp in billions'][i-2] > gdpDF['chained gdp in billions'][i-1])):
            recessionStart = 1
            print 'Began a recession: ' + gdpDF['quota'][i-2]
            
            if (recessionStart == 1):
                print('In recession', i-2)
                j = i
                for i, row in gdpDF.iterrows():
                    if i > j+1:
                    #print('In a second for loop', i)
                        if ((gdpDF['chained gdp in billions'][i] > gdpDF['chained gdp in billions'][i - 1]) & (gdpDF['chained gdp in billions'][i-1] > gdpDF['chained gdp in billions'][i-2])):
                            recessionEnd = 1
                            print 'End a recession: ' + gdpDF['quota'][i+2]
                            break
                break            

gdpDF.iloc[j-2:i+2]
#print(j-2, i+2)

Began a recession: 2008Q2
('In recession', 33)
End a recession: 2010Q2

     quota  chained gdp in billions
33  2008Q2                  14963.4
34  2008Q3                  14891.6
35  2008Q4                  14577.0
36  2009Q1                  14375.0
37  2009Q2                  14355.6
38  2009Q3                  14402.5
39  2009Q4                  14541.9
40  2010Q1                  14604.8

In [41]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    import re
    
    lst=[]
    state=''
    region=''

    f = open('university_towns.txt', 'r')
    for line in f:
        if '[ed' in line:
            state = line.split('[')[0]
        else:        
            region = re.split(r'[\(\[]', line)[0].strip()
        
            lst.append([state,region])
            
    univDF = pd.DataFrame(lst, columns=['State', 'RegionName'])        
    
    return univDF

get_list_of_university_towns()

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

In [27]:
def get_recession_start():
    # Read GDP dataset
    from pandas import ExcelFile 
    from pandas import ExcelWriter


    # Load the excel file
    gdpDF = pd.read_excel('gdplev.xlsx', skiprows = 220, usecols=[4,6], header = None, names = ['quota', 'chained gdp in billions'] )

    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    for i, row in gdpDF.iterrows():
        if i > 1:
            if ((gdpDF['chained gdp in billions'][i-1] > gdpDF['chained gdp in billions'][i]) & (gdpDF['chained gdp in billions'][i-2] > gdpDF['chained gdp in billions'][i-1])):
                recessionStart = gdpDF['quota'][i-1]
                break
            #print 'Began a recession: ' + gdpDF['quota'][i-2]
    
    return recessionStart

get_recession_start()

u'2008Q3'

In [52]:
recessionStart = gdpDF.index[gdpDF['quota'] == get_recession_start()]
recessionStart

Int64Index([33], dtype='int64')

In [6]:
def get_recession_end():
    
    # Load the excel file
    gdpDF = pd.read_excel('gdplev.xlsx', skiprows = 220, usecols=[4,6], header = None, names = ['quota', 'chained gdp in billions'] )

    
    i = gdpDF.index[gdpDF['quota'] == get_recession_start()]
    
    for index, row in gdpDF.iterrows():
        if index > i+1:
            if ((gdpDF['chained gdp in billions'][index] > gdpDF['chained gdp in billions'][index - 1]) & (gdpDF['chained gdp in billions'][index-1] > gdpDF['chained gdp in billions'][index-2])):
                #recessionEnd = 1
                #print 'End a recession: ' + gdpDF['quota'][i+2]
                break
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    return gdpDF['quota'][index]

get_recession_end()

u'2009Q4'

In [9]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    gdpDF = pd.read_excel('gdplev.xlsx', skiprows = 220, usecols=[4,6], header = None, names = ['quota', 'chained gdp in billions'] )
    # Get the dataframe index at the recession start
    recessionStart = gdpDF.index[gdpDF['quota'] == get_recession_start()]
    
    # Get the dataframe index at the recession end
    recessionEnd = gdpDF.index[gdpDF['quota'] == get_recession_end()]
    
    recession = gdpDF.iloc[recessionStart[0]:recessionEnd[0]+1]
    #recession['chained gdp in billions'].min()
    
    recessionBottom = gdpDF.index[gdpDF['chained gdp in billions'] == recession['chained gdp in billions'].min()]

    return gdpDF['quota'][recessionBottom[0]]

get_recession_bottom()

u'2009Q2'

In [7]:
# Get the dataframe index at the recession start
recessionStart = gdpDF.index[gdpDF['quota'] == get_recession_start()]
    
# Get the dataframe index at the recession end
recessionEnd = gdpDF.index[gdpDF['quota'] == get_recession_end()]
    
recession = gdpDF.iloc[recessionStart[0]:recessionEnd[0]+1]
recession['chained gdp in billions'].min()

NameError: name 'gdpDF' is not defined

In [71]:
recessionBottom = gdpDF.index[gdpDF['chained gdp in billions'] == recession['chained gdp in billions'].min()]
gdpDF['quota'][recessionBottom[0]]

u'2009Q2'

In [ ]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    return "ANSWER"

In [10]:
# Load the excel file
housingDF = pd.read_csv('City_Zhvi_AllHomes.csv')
housingDF.head()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11
0,6181,New York,NY,New York,Queens,1,NaN,NaN,NaN,NaN,...,634600,644000,654400,667100,676900,682600,687500,694400,702000,707700
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,155000.0,154600.0,154400.0,154200.0,...,615800,621500,626200,629400,631300,632200,635000,640000,645800,650200
2,17426,Chicago,IL,Chicago,Cook,3,109700.0,109400.0,109300.0,109300.0,...,219000,219500,220000,220300,220400,220800,221500,221700,221300,221100
3,13271,Philadelphia,PA,Philadelphia,Philadelphia,4,50000.0,49900.0,49600.0,49400.0,...,134700,135400,135800,136400,137100,137600,138700,140500,141900,142800
4,40326,Phoenix,AZ,Phoenix,Maricopa,5,87200.0,87700.0,88200.0,88400.0,...,207900,209100,210000,211900,214200,216100,217600,219400,221300,222600

In [11]:
housePrice = pd.merge(stateDF, housingDF, on='State')
housePrice.head()

,State,State Name,RegionID,RegionName,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11
0,WA,Washington,16037,Seattle,Seattle,King,19,164400.0,163900.0,163600.0,...,629200,641100,655300,669000,680200,685700,687200,690700,699400,708600
1,WA,Washington,20604,Spokane,Spokane,Spokane,114,85400.0,85900.0,86000.0,...,169200,169600,170400,172000,173400,174600,175900,177300,178300,179000
2,WA,Washington,27362,Tacoma,Seattle,Pierce,115,92800.0,93100.0,93300.0,...,245300,246500,248400,251100,254200,255900,257500,259900,262500,264300
3,WA,Washington,48215,Vancouver,Portland,Clark,158,119400.0,119900.0,120300.0,...,273600,275000,276900,278900,280700,282500,284200,286000,288700,291300
4,WA,Washington,13480,Renton,Seattle,King,205,148500.0,148900.0,149200.0,...,415500,421600,428500,434300,437300,438800,440200,442600,446300,450900

In [12]:
housePrice.drop(housePrice.columns[4:52], axis=1, inplace=True)
housePrice.head()

,State,State Name,RegionID,RegionName,2000-01,2000-02,2000-03,2000-04,2000-05,2000-06,...,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,2017-10,2017-11
0,WA,Washington,16037,Seattle,246100.0,248800.0,250900.0,252900.0,255500.0,258400.0,...,629200,641100,655300,669000,680200,685700,687200,690700,699400,708600
1,WA,Washington,20604,Spokane,90800.0,91200.0,91300.0,91100.0,90900.0,90900.0,...,169200,169600,170400,172000,173400,174600,175900,177300,178300,179000
2,WA,Washington,27362,Tacoma,131400.0,133000.0,134800.0,136500.0,138000.0,139400.0,...,245300,246500,248400,251100,254200,255900,257500,259900,262500,264300
3,WA,Washington,48215,Vancouver,133500.0,134100.0,134900.0,136100.0,137300.0,138100.0,...,273600,275000,276900,278900,280700,282500,284200,286000,288700,291300
4,WA,Washington,13480,Renton,198200.0,199500.0,200900.0,202200.0,203300.0,204200.0,...,415500,421600,428500,434300,437300,438800,440200,442600,446300,450900

In [13]:
housePrice.drop(housePrice.columns[205:], axis=1, inplace=True)
housePrice.head()

,State,State Name,RegionID,RegionName,2000-01,2000-02,2000-03,2000-04,2000-05,2000-06,...,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09
0,WA,Washington,16037,Seattle,246100.0,248800.0,250900.0,252900.0,255500.0,258400.0,...,544800,552400,560200,568400,577800,584600,590700,596900,603200,607700
1,WA,Washington,20604,Spokane,90800.0,91200.0,91300.0,91100.0,90900.0,90900.0,...,150600,152000,153900,156200,157800,158800,159700,160800,162100,163300
2,WA,Washington,27362,Tacoma,131400.0,133000.0,134800.0,136500.0,138000.0,139400.0,...,210300,212100,214300,216100,218600,222000,224700,226500,228800,231700
3,WA,Washington,48215,Vancouver,133500.0,134100.0,134900.0,136100.0,137300.0,138100.0,...,237900,241600,246400,250900,254900,258500,261000,262200,263600,265600
4,WA,Washington,13480,Renton,198200.0,199500.0,200900.0,202200.0,203300.0,204200.0,...,358100,360400,363400,367400,373200,379400,387800,395600,400100,403000

In [14]:
# Drop the columns that are not needed
cols = ['State', 'RegionID']
housePrice.drop(cols, axis=1, inplace=True)
housePrice.head()

,State Name,RegionName,2000-01,2000-02,2000-03,2000-04,2000-05,2000-06,2000-07,2000-08,...,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09
0,Washington,Seattle,246100.0,248800.0,250900.0,252900.0,255500.0,258400.0,260800.0,262500.0,...,544800,552400,560200,568400,577800,584600,590700,596900,603200,607700
1,Washington,Spokane,90800.0,91200.0,91300.0,91100.0,90900.0,90900.0,91000.0,91100.0,...,150600,152000,153900,156200,157800,158800,159700,160800,162100,163300
2,Washington,Tacoma,131400.0,133000.0,134800.0,136500.0,138000.0,139400.0,140400.0,141200.0,...,210300,212100,214300,216100,218600,222000,224700,226500,228800,231700
3,Washington,Vancouver,133500.0,134100.0,134900.0,136100.0,137300.0,138100.0,138600.0,139100.0,...,237900,241600,246400,250900,254900,258500,261000,262200,263600,265600
4,Washington,Renton,198200.0,199500.0,200900.0,202200.0,203300.0,204200.0,205200.0,206400.0,...,358100,360400,363400,367400,373200,379400,387800,395600,400100,403000

In [15]:
# change column names to what had been specified
housePrice.rename(columns={'State Name':'State'}, inplace=True)
housePrice.head()

,State,RegionName,2000-01,2000-02,2000-03,2000-04,2000-05,2000-06,2000-07,2000-08,...,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09
0,Washington,Seattle,246100.0,248800.0,250900.0,252900.0,255500.0,258400.0,260800.0,262500.0,...,544800,552400,560200,568400,577800,584600,590700,596900,603200,607700
1,Washington,Spokane,90800.0,91200.0,91300.0,91100.0,90900.0,90900.0,91000.0,91100.0,...,150600,152000,153900,156200,157800,158800,159700,160800,162100,163300
2,Washington,Tacoma,131400.0,133000.0,134800.0,136500.0,138000.0,139400.0,140400.0,141200.0,...,210300,212100,214300,216100,218600,222000,224700,226500,228800,231700
3,Washington,Vancouver,133500.0,134100.0,134900.0,136100.0,137300.0,138100.0,138600.0,139100.0,...,237900,241600,246400,250900,254900,258500,261000,262200,263600,265600
4,Washington,Renton,198200.0,199500.0,200900.0,202200.0,203300.0,204200.0,205200.0,206400.0,...,358100,360400,363400,367400,373200,379400,387800,395600,400100,403000

In [16]:
# create multiindex
housePrice = housePrice.set_index(['State', 'RegionName'])
housePrice.head()

                        2000-01   2000-02   2000-03   2000-04   2000-05  \
State      RegionName
Washington Seattle     246100.0  248800.0  250900.0  252900.0  255500.0
           Spokane      90800.0   91200.0   91300.0   91100.0   90900.0
           Tacoma      131400.0  133000.0  134800.0  136500.0  138000.0
           Vancouver   133500.0  134100.0  134900.0  136100.0  137300.0
           Renton      198200.0  199500.0  200900.0  202200.0  203300.0

                        2000-06   2000-07   2000-08   2000-09   2000-10  \
State      RegionName
Washington Seattle     258400.0  260800.0  262500.0  264300.0  266200.0
           Spokane      90900.0   91000.0   91100.0   91500.0   91500.0
           Tacoma      139400.0  140400.0  141200.0  141500.0  140700.0
           Vancouver   138100.0  138600.0  139100.0  139600.0  140000.0
           Renton      204200.0  205200.0  206400.0  207600.0  208800.0

                        ...     2015-12  2016-01  2016-02  2016-03  2016-04  \
State      RegionName   ...
Washington Seattle      ...      544800   552400   560200   568400   577800
           Spokane      ...      150600   152000   153900   156200   157800
           Tacoma       ...      210300   212100   214300   216100   218600
           Vancouver    ...      237900   241600   246400   250900   254900
           Renton       ...      358100   360400   363400   367400   373200

                       2016-05  2016-06  2016-07  2016-08  2016-09
State      RegionName
Washington Seattle      584600   590700   596900   603200   607700
           Spokane      158800   159700   160800   162100   163300
           Tacoma       222000   224700   226500   228800   231700
           Vancouver    258500   261000   262200   263600   265600
           Renton       379400   387800   395600   400100   403000

[5 rows x 201 columns]

In [34]:
# convert the column labels to datetime
from datetime import datetime
from dateutil.parser import parse

#convertTodate = lambda x: datetime.strptime(x, '%Y-%m')

#housePrice.apply(lambda x: datetime.strptime(x.columns.values, '%Y-%m'), axis=1)
for col in housePrice.columns.values:
    datetime.strptime(col, '%Y-%m')

    
type(newCols)   

#datetime.strptime(housePrice.columns.values[0], '%Y-%m')

datetime.datetime

In [35]:
cols = housePrice.columns.tolist()
cols

['2000-01',
 '2000-02',
 '2000-03',
 '2000-04',
 '2000-05',
 '2000-06',
 '2000-07',
 '2000-08',
 '2000-09',
 '2000-10',
 '2000-11',
 '2000-12',
 '2001-01',
 '2001-02',
 '2001-03',
 '2001-04',
 '2001-05',
 '2001-06',
 '2001-07',
 '2001-08',
 '2001-09',
 '2001-10',
 '2001-11',
 '2001-12',
 '2002-01',
 '2002-02',
 '2002-03',
 '2002-04',
 '2002-05',
 '2002-06',
 '2002-07',
 '2002-08',
 '2002-09',
 '2002-10',
 '2002-11',
 '2002-12',
 '2003-01',
 '2003-02',
 '2003-03',
 '2003-04',
 '2003-05',
 '2003-06',
 '2003-07',
 '2003-08',
 '2003-09',
 '2003-10',
 '2003-11',
 '2003-12',
 '2004-01',
 '2004-02',
 '2004-03',
 '2004-04',
 '2004-05',
 '2004-06',
 '2004-07',
 '2004-08',
 '2004-09',
 '2004-10',
 '2004-11',
 '2004-12',
 '2005-01',
 '2005-02',
 '2005-03',
 '2005-04',
 '2005-05',
 '2005-06',
 '2005-07',
 '2005-08',
 '2005-09',
 '2005-10',
 '2005-11',
 '2005-12',
 '2006-01',
 '2006-02',
 '2006-03',
 '2006-04',
 '2006-05',
 '2006-06',
 '2006-07',
 '2006-08',
 '2006-09',
 '2006-10',
 '2006-11',
 '2006-12',
 '2007-01',
 '2007-02',
 '2007-03',
 '2007-04',
 '2007-05',
 '2007-06',
 '2007-07',
 '2007-08',
 '2007-09',
 '2007-10',
 '2007-11',
 '2007-12',
 '2008-01',
 '2008-02',
 '2008-03',
 '2008-04',
 '2008-05',
 '2008-06',
 '2008-07',
 '2008-08',
 '2008-09',
 '2008-10',
 '2008-11',
 '2008-12',
 '2009-01',
 '2009-02',
 '2009-03',
 '2009-04',
 '2009-05',
 '2009-06',
 '2009-07',
 '2009-08',
 '2009-09',
 '2009-10',
 '2009-11',
 '2009-12',
 '2010-01',
 '2010-02',
 '2010-03',
 '2010-04',
 '2010-05',
 '2010-06',
 '2010-07',
 '2010-08',
 '2010-09',
 '2010-10',
 '2010-11',
 '2010-12',
 '2011-01',
 '2011-02',
 '2011-03',
 '2011-04',
 '2011-05',
 '2011-06',
 '2011-07',
 '2011-08',
 '2011-09',
 '2011-10',
 '2011-11',
 '2011-12',
 '2012-01',
 '2012-02',
 '2012-03',
 '2012-04',
 '2012-05',
 '2012-06',
 '2012-07',
 '2012-08',
 '2012-09',
 '2012-10',
 '2012-11',
 '2012-12',
 '2013-01',
 '2013-02',
 '2013-03',
 '2013-04',
 '2013-05',
 '2013-06',
 '2013-07',
 '2013-08',
 '2013-09',
 '2013-10',
 '2013-11',
 '2013-12',
 '2014-01',
 '2014-02',
 '2014-03',
 '2014-04',
 '2014-05',
 '2014-06',
 '2014-07',
 '2014-08',
 '2014-09',
 '2014-10',
 '2014-11',
 '2014-12',
 '2015-01',
 '2015-02',
 '2015-03',
 '2015-04',
 '2015-05',
 '2015-06',
 '2015-07',
 '2015-08',
 '2015-09',
 '2015-10',
 '2015-11',
 '2015-12',
 '2016-01',
 '2016-02',
 '2016-03',
 '2016-04',
 '2016-05',
 '2016-06',
 '2016-07',
 '2016-08',
 '2016-09']

In [36]:
housePrice.columns = map(lambda x: datetime.strptime(x, '%Y-%m'), cols)
housePrice.head()

                       2000-01-01  2000-02-01  2000-03-01  2000-04-01  \
State      RegionName
Washington Seattle       246100.0    248800.0    250900.0    252900.0
           Spokane        90800.0     91200.0     91300.0     91100.0
           Tacoma        131400.0    133000.0    134800.0    136500.0
           Vancouver     133500.0    134100.0    134900.0    136100.0
           Renton        198200.0    199500.0    200900.0    202200.0

                       2000-05-01  2000-06-01  2000-07-01  2000-08-01  \
State      RegionName
Washington Seattle       255500.0    258400.0    260800.0    262500.0
           Spokane        90900.0     90900.0     91000.0     91100.0
           Tacoma        138000.0    139400.0    140400.0    141200.0
           Vancouver     137300.0    138100.0    138600.0    139100.0
           Renton        203300.0    204200.0    205200.0    206400.0

                       2000-09-01  2000-10-01     ...      2015-12-01  \
State      RegionName                             ...
Washington Seattle       264300.0    266200.0     ...          544800
           Spokane        91500.0     91500.0     ...          150600
           Tacoma        141500.0    140700.0     ...          210300
           Vancouver     139600.0    140000.0     ...          237900
           Renton        207600.0    208800.0     ...          358100

                       2016-01-01  2016-02-01  2016-03-01  2016-04-01  \
State      RegionName
Washington Seattle         552400      560200      568400      577800
           Spokane         152000      153900      156200      157800
           Tacoma          212100      214300      216100      218600
           Vancouver       241600      246400      250900      254900
           Renton          360400      363400      367400      373200

                       2016-05-01  2016-06-01  2016-07-01  2016-08-01  \
State      RegionName
Washington Seattle         584600      590700      596900      603200
           Spokane         158800      159700      160800      162100
           Tacoma          222000      224700      226500      228800
           Vancouver       258500      261000      262200      263600
           Renton          379400      387800      395600      400100

                       2016-09-01
State      RegionName
Washington Seattle         607700
           Spokane         163300
           Tacoma          231700
           Vancouver       265600
           Renton          403000

[5 rows x 201 columns]

In [37]:
housePrice=housePrice.resample('Q', axis=1).mean()
housePrice.head()

                          2000-03-31     2000-06-30     2000-09-30  \
State      RegionName
Washington Seattle     248600.000000  255600.000000  262533.333333
           Spokane      91100.000000   90966.666667   91200.000000
           Tacoma      133066.666667  137966.666667  141033.333333
           Vancouver   134166.666667  137166.666667  139100.000000
           Renton      199533.333333  203233.333333  206400.000000

                          2000-12-31     2001-03-31     2001-06-30  \
State      RegionName
Washington Seattle     267400.000000  271000.000000  272466.666667
           Spokane      91400.000000   92533.333333   94866.666667
           Tacoma      140066.666667  140366.666667  141800.000000
           Vancouver   140266.666667  140366.666667  140333.333333
           Renton      209966.666667  213366.666667  216433.333333

                          2001-09-30     2001-12-31     2002-03-31  \
State      RegionName
Washington Seattle     274166.666667  278166.666667  280500.000000
           Spokane      95466.666667   96466.666667   96933.333333
           Tacoma      144333.333333  147400.000000  149600.000000
           Vancouver   140600.000000  141633.333333  143633.333333
           Renton      220066.666667  222800.000000  225266.666667

                          2002-06-30      ...           2014-06-30  \
State      RegionName                     ...
Washington Seattle     284600.000000      ...        440566.666667
           Spokane      96633.333333      ...        135033.333333
           Tacoma      147233.333333      ...        181133.333333
           Vancouver   144866.666667      ...        201966.666667
           Renton      227233.333333      ...        308233.333333

                          2014-09-30     2014-12-31     2015-03-31  \
State      RegionName
Washington Seattle     449433.333333  457466.666667  470100.000000
           Spokane     138666.666667  141500.000000  142433.333333
           Tacoma      183000.000000  186200.000000  188400.000000
           Vancouver   208966.666667  214500.000000  219866.666667
           Renton      314633.333333  320866.666667  327400.000000

                          2015-06-30     2015-09-30     2015-12-31  \
State      RegionName
Washington Seattle     497333.333333  517100.000000  538633.333333
           Spokane     144633.333333  147666.666667  149766.666667
           Tacoma      195633.333333  203533.333333  208833.333333
           Vancouver   224500.000000  230866.666667  235700.000000
           Renton      338133.333333  346266.666667  355766.666667

                          2016-03-31     2016-06-30     2016-09-30
State      RegionName
Washington Seattle     560333.333333  584366.666667  602600.000000
           Spokane     154033.333333  158766.666667  162066.666667
           Tacoma      214166.666667  221766.666667  229000.000000
           Vancouver   246300.000000  258133.333333  263800.000000
           Renton      363733.333333  380133.333333  399566.666667

[5 rows x 67 columns]

In [38]:
housePrice = housePrice.rename(columns=lambda x: str(x.to_period('Q')).lower())
housePrice.head()

                              2000q1         2000q2         2000q3  \
State      RegionName
Washington Seattle     248600.000000  255600.000000  262533.333333
           Spokane      91100.000000   90966.666667   91200.000000
           Tacoma      133066.666667  137966.666667  141033.333333
           Vancouver   134166.666667  137166.666667  139100.000000
           Renton      199533.333333  203233.333333  206400.000000

                              2000q4         2001q1         2001q2  \
State      RegionName
Washington Seattle     267400.000000  271000.000000  272466.666667
           Spokane      91400.000000   92533.333333   94866.666667
           Tacoma      140066.666667  140366.666667  141800.000000
           Vancouver   140266.666667  140366.666667  140333.333333
           Renton      209966.666667  213366.666667  216433.333333

                              2001q3         2001q4         2002q1  \
State      RegionName
Washington Seattle     274166.666667  278166.666667  280500.000000
           Spokane      95466.666667   96466.666667   96933.333333
           Tacoma      144333.333333  147400.000000  149600.000000
           Vancouver   140600.000000  141633.333333  143633.333333
           Renton      220066.666667  222800.000000  225266.666667

                              2002q2      ...               2014q2  \
State      RegionName                     ...
Washington Seattle     284600.000000      ...        440566.666667
           Spokane      96633.333333      ...        135033.333333
           Tacoma      147233.333333      ...        181133.333333
           Vancouver   144866.666667      ...        201966.666667
           Renton      227233.333333      ...        308233.333333

                              2014q3         2014q4         2015q1  \
State      RegionName
Washington Seattle     449433.333333  457466.666667  470100.000000
           Spokane     138666.666667  141500.000000  142433.333333
           Tacoma      183000.000000  186200.000000  188400.000000
           Vancouver   208966.666667  214500.000000  219866.666667
           Renton      314633.333333  320866.666667  327400.000000

                              2015q2         2015q3         2015q4  \
State      RegionName
Washington Seattle     497333.333333  517100.000000  538633.333333
           Spokane     144633.333333  147666.666667  149766.666667
           Tacoma      195633.333333  203533.333333  208833.333333
           Vancouver   224500.000000  230866.666667  235700.000000
           Renton      338133.333333  346266.666667  355766.666667

                              2016q1         2016q2         2016q3
State      RegionName
Washington Seattle     560333.333333  584366.666667  602600.000000
           Spokane     154033.333333  158766.666667  162066.666667
           Tacoma      214166.666667  221766.666667  229000.000000
           Vancouver   246300.000000  258133.333333  263800.000000
           Renton      363733.333333  380133.333333  399566.666667

[5 rows x 67 columns]

In [ ]:
quotaMean = lambda x: x.mean()

In [30]:
housingDF.dtypes

RegionID        int64
Metro          object
CountyName     object
SizeRank        int64
2000-01       float64
2000-02       float64
2000-03       float64
2000-04       float64
2000-05       float64
2000-06       float64
2000-07       float64
2000-08       float64
2000-09       float64
2000-10       float64
2000-11       float64
2000-12       float64
2001-01       float64
2001-02       float64
2001-03       float64
2001-04       float64
2001-05       float64
2001-06       float64
2001-07       float64
2001-08       float64
2001-09       float64
2001-10       float64
2001-11       float64
2001-12       float64
2002-01       float64
2002-02       float64
               ...
2014-04         int64
2014-05         int64
2014-06         int64
2014-07         int64
2014-08         int64
2014-09         int64
2014-10         int64
2014-11         int64
2014-12         int64
2015-01         int64
2015-02         int64
2015-03         int64
2015-04         int64
2015-05         int64
2015-06         int64
2015-07         int64
2015-08         int64
2015-09         int64
2015-10         int64
2015-11         int64
2015-12         int64
2016-01         int64
2016-02         int64
2016-03         int64
2016-04         int64
2016-05         int64
2016-06         int64
2016-07         int64
2016-08         int64
2016-09         int64
Length: 205, dtype: object

In [39]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    # Load the excel file
    housingDF = pd.read_csv('City_Zhvi_AllHomes.csv')
    #stateDF =  pd.DataFrame(states.items(), columns=['State', 'State Name'])
    stateDF = pd.DataFrame.from_dict(list(states.items()))
    stateDF.rename(columns={0:'State', 1:'State Name'}, inplace=True)
                                     
    
    # Merge it with the State name
    housePrice = pd.merge(stateDF, housingDF, on='State')
    
    # drop columns that are not needed
    housePrice.drop(housePrice.columns[4:52], axis=1, inplace=True)
    housePrice.drop(housePrice.columns[205:], axis=1, inplace=True)
    cols = ['State', 'RegionID']
    housePrice.drop(cols, axis=1, inplace=True)
    
    # change column names to what had been specified
    housePrice.rename(columns={'State Name':'State'}, inplace=True)
    
    # create multiindex
    housePrice = housePrice.set_index(['State', 'RegionName'])
    
    # convert the column labels to datetime
    from datetime import datetime
    from dateutil.parser import parse
    
    cols = housePrice.columns.tolist()
    housePrice.columns = map(lambda x: datetime.strptime(x, '%Y-%m'), cols)
    
    # Resample by quota and calculate the mean
    housing=housePrice.resample('Q', axis=1).mean()
    
    
    # Rename the columns back to string
    housing = housing.rename(columns=lambda x: str(x.to_period('Q')).lower())
    
    return housing

convert_housing_data_to_quarters()

                                   2000q1         2000q2         2000q3  \
State       RegionName
Washington  Seattle         248600.000000  255600.000000  262533.333333
            Spokane          91100.000000   90966.666667   91200.000000
            Tacoma          133066.666667  137966.666667  141033.333333
            Vancouver       134166.666667  137166.666667  139100.000000
            Renton          199533.333333  203233.333333  206400.000000
            Bellevue        295866.666667  300700.000000  300333.333333
            Everett         160800.000000  162700.000000  164166.666667
            Federal Way     170033.333333  172233.333333  174533.333333
            Kennewick       113500.000000  115800.000000  117266.666667
            Yakima          110433.333333  110900.000000  111166.666667
            Spokane Valley  105866.666667  106200.000000  106600.000000
            Kent            179500.000000  182366.666667  185333.333333
            Redmond         293533.333333  299066.666667  302833.333333
            Lynnwood        196733.333333  200200.000000  203566.666667
            Kirkland        245666.666667  249333.333333  252900.000000
            Pasco           106500.000000  106300.000000  105066.666667
            Bremerton       118900.000000  120833.333333  121200.000000
            Marysville      169133.333333  170833.333333  172533.333333
            Bellingham      156000.000000  160000.000000  163033.333333
            Auburn          171366.666667  174233.333333  174733.333333
            Lakewood        155500.000000  158100.000000  160133.333333
            Snohomish       247833.333333  252100.000000  252700.000000
            Port Orchard    139600.000000  141766.666667  143633.333333
            Issaquah        291900.000000  294966.666667  297433.333333
            Shoreline       207700.000000  210866.666667  213800.000000
            South Hill      161833.333333  163000.000000  164733.333333
            Richland        135066.666667  137666.666667  139100.000000
            Mount Vernon              NaN            NaN            NaN
            Sammamish       365466.666667  374533.333333  379533.333333
            Spanaway        138166.666667  138866.666667  140900.000000
...                                   ...            ...            ...
Mississippi Ecru                      NaN            NaN            NaN
            Plantersville    62366.666667   64333.333333   68466.666667
            Sandy Hook                NaN            NaN            NaN
            Shubuta          46600.000000   46833.333333   47433.333333
            Pope                      NaN            NaN            NaN
            Golden           56100.000000   53833.333333   53533.333333
            Coffeeville               NaN            NaN            NaN
            Lambert                   NaN            NaN            NaN
            Burnsville                NaN            NaN            NaN
            Moselle          68533.333333   69800.000000   74200.000000
            Abbeville        82866.666667   84900.000000   85566.666667
            Lake             61233.333333   60666.666667   59100.000000
            Lamar            56466.666667   58733.333333   61566.666667
            Farmington       53966.666667   54366.666667   56800.000000
            Duck Hill                 NaN            NaN            NaN
            Shannon          61600.000000   63333.333333   63866.666667
            Smithville       57933.333333   54766.666667   51700.000000
            Kilmichael                NaN            NaN            NaN
            Rienzi                    NaN            NaN            NaN
            Hamilton                  NaN            NaN            NaN
            Marietta         50033.333333   50366.666667   51400.000000
            Mize             61633.333333   60766.666667   60200.000000
            Ovett            68100.000000   71800.000000   76833.333333
            Lynchburg                 NaN            NaN            NaN
            Courtland                 NaN            NaN            NaN
            Bassfield                 NaN            NaN            NaN
            Soso             66866.666667   66500.000000   69033.333333
            Falkner                   NaN            NaN            NaN
            Sarah           112000.000000  112000.000000  111900.000000
            Benton                    NaN            NaN            NaN

                                   2000q4         2001q1         2001q2  \
State       RegionName
Washington  Seattle         267400.000000  271000.000000  272466.666667
            Spokane          91400.000000   92533.333333   94866.666667
            Tacoma          140066.666667  140366.666667  141800.000000
            Vancouver       140266.666667  140366.666667  140333.333333
            Renton          209966.666667  213366.666667  216433.333333
            Bellevue        303566.666667  309766.666667  318533.333333
            Everett         165666.666667  167833.333333  170833.333333
            Federal Way     177233.333333  180633.333333  182633.333333
            Kennewick       117833.333333  120666.666667  123933.333333
            Yakima          111766.666667  113200.000000  113366.666667
            Spokane Valley  105500.000000  105700.000000  107700.000000
            Kent            189400.000000  192800.000000  195133.333333
            Redmond         304300.000000  305733.333333  309633.333333
            Lynnwood        206233.333333  209866.666667  213866.666667
            Kirkland        257300.000000  260733.333333  262533.333333
            Pasco           105966.666667  106000.000000  108933.333333
            Bremerton       122433.333333  125433.333333  127133.333333
            Marysville      174033.333333  175800.000000  178600.000000
            Bellingham      160900.000000  157533.333333  158866.666667
            Auburn          176533.333333  179733.333333  181966.666667
            Lakewood        159133.333333  159233.333333  159866.666667
            Snohomish       253300.000000  255633.333333  260433.333333
            Port Orchard    145066.666667  148766.666667  150666.666667
            Issaquah        297600.000000  299966.666667  305733.333333
            Shoreline       217033.333333  220833.333333  224733.333333
            South Hill      165600.000000  167966.666667  170666.666667
            Richland        139400.000000  139533.333333  142600.000000
            Mount Vernon              NaN            NaN            NaN
            Sammamish       382766.666667  387166.666667  392366.666667
            Spanaway        141466.666667  143666.666667  145666.666667
...                                   ...            ...            ...
Mississippi Ecru                      NaN            NaN            NaN
            Plantersville    70000.000000   69566.666667   70400.000000
            Sandy Hook                NaN            NaN            NaN
            Shubuta          47500.000000   46066.666667   45600.000000
            Pope                      NaN            NaN            NaN
            Golden           53466.666667   55500.000000   58000.000000
            Coffeeville               NaN            NaN            NaN
            Lambert                   NaN            NaN            NaN
            Burnsville                NaN            NaN            NaN
            Moselle          79466.666667   84900.000000   85500.000000
            Abbeville        83266.666667   79833.333333   78933.333333
            Lake             60066.666667   62900.000000   64000.000000
            Lamar            60966.666667   59700.000000   58300.000000
            Farmington       61300.000000   68400.000000   68833.333333
            Duck Hill                 NaN            NaN            NaN
            Shannon          65500.000000   66433.333333   67633.333333
            Smithville       49400.000000   49500.000000   50466.666667
            Kilmichael                NaN            NaN            NaN
            Rienzi                    NaN            NaN            NaN
            Hamilton                  NaN            NaN            NaN
            Marietta         51033.333333   52566.666667   53633.333333
            Mize             60933.333333   62633.333333   64366.666667
            Ovett            79133.333333   78800.000000   73300.000000
            Lynchburg                 NaN            NaN            NaN
            Courtland                 NaN            NaN            NaN
            Bassfield                 NaN            NaN            NaN
            Soso             73766.666667   79133.333333   81100.000000
            Falkner                   NaN            NaN            NaN
            Sarah           111900.000000  112000.000000  112000.000000
            Benton                    NaN            NaN            NaN

                                   2001q3         2001q4         2002q1  \
State       RegionName
Washington  Seattle         274166.666667  278166.666667  280500.000000
            Spokane          95466.666667   96466.666667   96933.333333
            Tacoma          144333.333333  147400.000000  149600.000000
            Vancouver       140600.000000  141633.333333  143633.333333
            Renton          220066.666667  222800.000000  225266.666667
            Bellevue        325900.000000  327900.000000  326766.666667
            Everett         173466.666667  176333.333333  178500.000000
            Federal Way     184133.333333  185600.000000  187166.666667
            Kennewick       126933.333333  129833.333333  131633.333333
            Yakima          111533.333333  110633.333333  111933.333333
            Spokane Valley  108866.666667  110966.666667  111666.666667
            Kent            197600.000000  199533.333333  201800.000000
            Redmond         313866.666667  318266.666667  318966.666667
            Lynnwood        217133.333333  219500.000000  221133.333333
            Kirkland        264533.333333  267500.000000  269600.000000
            Pasco           111333.333333  112066.666667  113366.666667
            Bremerton       128766.666667  130400.000000  133166.666667
            Marysville      180466.666667  182666.666667  184900.000000
            Bellingham      159433.333333  164200.000000  168900.000000
            Auburn          183966.666667  186533.333333  190266.666667
            Lakewood        162866.666667  166166.666667  167933.333333
            Snohomish       265666.666667  268800.000000  270300.000000
            Port Orchard    152633.333333  154800.000000  157100.000000
            Issaquah        309233.333333  313733.333333  315633.333333
            Shoreline       227533.333333  230533.333333  234200.000000
            South Hill      173533.333333  175833.333333  179433.333333
            Richland        146700.000000  149966.666667  153733.333333
            Mount Vernon              NaN            NaN            NaN
            Sammamish       396800.000000  401900.000000  403266.666667
            Spanaway        148200.000000  150733.333333  153933.333333
...                                   ...            ...            ...
Mississippi Ecru                      NaN            NaN            NaN
            Plantersville    66566.666667   67000.000000   70733.333333
            Sandy Hook                NaN            NaN            NaN
            Shubuta          46666.666667   46900.000000   48133.333333
            Pope                      NaN            NaN            NaN
            Golden           59766.666667   59866.666667   59666.666667
            Coffeeville               NaN            NaN            NaN
            Lambert                   NaN            NaN            NaN
            Burnsville                NaN            NaN            NaN
            Moselle          84533.333333   81566.666667   79700.000000
            Abbeville        81933.333333   85233.333333   86266.666667
            Lake             66200.000000   66033.333333   64366.666667
            Lamar            57700.000000   57233.333333   58366.666667
            Farmington       66933.333333   66466.666667   68633.333333
            Duck Hill                 NaN            NaN            NaN
            Shannon          67666.666667   69700.000000   71800.000000
            Smithville       51733.333333   52233.333333   51833.333333
            Kilmichael                NaN            NaN            NaN
            Rienzi                    NaN            NaN            NaN
            Hamilton                  NaN            NaN            NaN
            Marietta         53666.666667   55133.333333   55166.666667
            Mize             65733.333333   65366.666667   64333.333333
            Ovett            71733.333333   72566.666667   75566.666667
            Lynchburg                 NaN            NaN            NaN
            Courtland                 NaN            NaN            NaN
            Bassfield                 NaN            NaN            NaN
            Soso             78900.000000   73833.333333   72000.000000
            Falkner                   NaN            NaN            NaN
            Sarah           111900.000000  111900.000000  112000.000000
            Benton                    NaN            NaN            NaN

                                   2002q2      ...               2014q2  \
State       RegionName                         ...
Washington  Seattle         284600.000000      ...        440566.666667
            Spokane          96633.333333      ...        135033.333333
            Tacoma          147233.333333      ...        181133.333333
            Vancouver       144866.666667      ...        201966.666667
            Renton          227233.333333      ...        308233.333333
            Bellevue        330933.333333      ...        562866.666667
            Everett         179800.000000      ...        237400.000000
            Federal Way     189433.333333      ...        244000.000000
            Kennewick       131300.000000      ...        168100.000000
            Yakima          115100.000000      ...        145000.000000
            Spokane Valley  111166.666667      ...        154066.666667
            Kent            203400.000000      ...        256966.666667
            Redmond         323366.666667      ...        540166.666667
            Lynnwood        224133.333333      ...        318000.000000
            Kirkland        272800.000000      ...        438266.666667
            Pasco           115233.333333      ...        156166.666667
            Bremerton       135866.666667      ...        193500.000000
            Marysville      186633.333333      ...        245100.000000
            Bellingham      171333.333333      ...        273800.000000
            Auburn          192933.333333      ...        250900.000000
            Lakewood        165266.666667      ...        207466.666667
            Snohomish       270066.666667      ...        378666.666667
            Port Orchard    159766.666667      ...        230000.000000
            Issaquah        318266.666667      ...        498400.000000
            Shoreline       238933.333333      ...        346766.666667
            South Hill      181400.000000      ...        236966.666667
            Richland        156400.000000      ...        195866.666667
            Mount Vernon              NaN      ...        224433.333333
            Sammamish       405200.000000      ...        651766.666667
            Spanaway        155066.666667      ...        204266.666667
...                                   ...      ...                  ...
Mississippi Ecru                      NaN      ...         81233.333333
            Plantersville    71066.666667      ...         76366.666667
            Sandy Hook                NaN      ...        115466.666667
            Shubuta          48466.666667      ...         66000.000000
            Pope                      NaN      ...         86466.666667
            Golden           56966.666667      ...         97733.333333
            Coffeeville               NaN      ...         75200.000000
            Lambert                   NaN      ...         59966.666667
            Burnsville                NaN      ...         89600.000000
            Moselle          81366.666667      ...        126333.333333
            Abbeville        89633.333333      ...        129800.000000
            Lake             64266.666667      ...        113200.000000
            Lamar            59166.666667      ...         76433.333333
            Farmington       70900.000000      ...         91833.333333
            Duck Hill                 NaN      ...         80933.333333
            Shannon          70433.333333      ...         80000.000000
            Smithville       52466.666667      ...         95066.666667
            Kilmichael                NaN      ...         70466.666667
            Rienzi                    NaN      ...         87000.000000
            Hamilton                  NaN      ...         96933.333333
            Marietta         52166.666667      ...         83000.000000
            Mize             64100.000000      ...         90933.333333
            Ovett            79166.666667      ...        121333.333333
            Lynchburg                 NaN      ...        117700.000000
            Courtland                 NaN      ...         91233.333333
            Bassfield                 NaN      ...         87366.666667
            Soso             73166.666667      ...        106433.333333
            Falkner                   NaN      ...         85266.666667
            Sarah           112000.000000      ...        106266.666667
            Benton                    NaN      ...         97166.666667

                                   2014q3         2014q4         2015q1  \
State       RegionName
Washington  Seattle         449433.333333  457466.666667  470100.000000
            Spokane         138666.666667  141500.000000  142433.333333
            Tacoma          183000.000000  186200.000000  188400.000000
            Vancouver       208966.666667  214500.000000  219866.666667
            Renton          314633.333333  320866.666667  327400.000000
            Bellevue        578166.666667  590733.333333  607300.000000
            Everett         241300.000000  245000.000000  249366.666667
            Federal Way     248533.333333  253433.333333  259066.666667
            Kennewick       168166.666667  177200.000000  182866.666667
            Yakima          145266.666667  149633.333333  155300.000000
            Spokane Valley  158400.000000  161300.000000  162666.666667
            Kent            261433.333333  266566.666667  271200.000000
            Redmond         550733.333333  557866.666667  571233.333333
            Lynnwood        323666.666667  328500.000000  333133.333333
            Kirkland        450300.000000  458266.666667  467766.666667
            Pasco           156966.666667  158133.333333  160000.000000
            Bremerton       197633.333333  200066.666667  200833.333333
            Marysville      249166.666667  252200.000000  256933.333333
            Bellingham      283966.666667  288100.000000  290766.666667
            Auburn          254166.666667  258833.333333  263266.666667
            Lakewood        208400.000000  210366.666667  215233.333333
            Snohomish       385900.000000  390566.666667  397600.000000
            Port Orchard    233366.666667  234600.000000  234900.000000
            Issaquah        512633.333333  523166.666667  532966.666667
            Shoreline       353500.000000  360500.000000  373533.333333
            South Hill      237000.000000  240766.666667  244033.333333

In [72]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    from scipy import stats
    
    hdf = convert_housing_data_to_quarters()
    rec_start=get_recession_start()
    rec_bottom = get_recession_bottom()
    ul = get_list_of_university_towns()
    
    # adding a new column to show the house price ratio between before recession and the recession bottom
    hdf['PriceRatio'] = hdf.iloc[:, hdf.columns.get_loc(str(rec_start).lower())-1].div(hdf[str(rec_bottom).lower()])
    
    # dividing the set ino two groups
    # convert to a list of tuples
    univTown_list = ul.to_records(index=False).tolist()
    
    univGroup = hdf.loc[univTown_list]
    
    otherGroup = hdf.loc[~hdf.index.isin(univTown_list)]
    
    # Run a ttest
    test_result= stats.ttest_ind(univGroup['PriceRatio'], otherGroup['PriceRatio'], nan_policy='omit')
    different = (test_result.pvalue < 0.01)
    p = test_result.pvalue
    if univGroup['PriceRatio'].mean() > otherGroup['PriceRatio'].mean(): 
        better = 'non-university town'
    else:
        better = 'university town'


    
    return (different, p, better)

run_ttest()

(False, 0.010663050311944701, 'university town')

In [49]:
from scipy import stats
    
hdf = convert_housing_data_to_quarters()
rec_start=get_recession_start()
rec_bottom = get_recession_bottom()
ul = get_list_of_university_towns()

hdf[str(rec_start).lower()]

State        RegionName
Washington   Seattle           432400.000000
             Spokane           153700.000000
             Tacoma            225566.666667
             Vancouver         219766.666667
             Renton            340633.333333
             Bellevue          538100.000000
             Everett           276033.333333
             Federal Way       282700.000000
             Kennewick         154333.333333
             Yakima            155766.666667
             Spokane Valley    173800.000000
             Kent              298433.333333
             Redmond           513500.000000
             Lynnwood          340066.666667
             Kirkland          434433.333333
             Pasco             138033.333333
             Bremerton         233300.000000
             Marysville        278700.000000
             Bellingham        292733.333333
             Auburn            288166.666667
             Lakewood          246100.000000
             Snohomish         409833.333333
             Port Orchard      265666.666667
             Issaquah          488466.666667
             Shoreline         364066.666667
             South Hill        261333.333333
             Richland          180833.333333
             Mount Vernon                NaN
             Sammamish         616300.000000
             Spanaway          228566.666667
                                   ...
Mississippi  Ecru                        NaN
             Plantersville      78266.666667
             Sandy Hook                  NaN
             Shubuta            63300.000000
             Pope                        NaN
             Golden             78466.666667
             Coffeeville                 NaN
             Lambert                     NaN
             Burnsville                  NaN
             Moselle           117900.000000
             Abbeville         123766.666667
             Lake               95333.333333
             Lamar              68200.000000
             Farmington         72500.000000
             Duck Hill                   NaN
             Shannon            79600.000000
             Smithville         68266.666667
             Kilmichael                  NaN
             Rienzi                      NaN
             Hamilton                    NaN
             Marietta           67933.333333
             Mize               84266.666667
             Ovett             116900.000000
             Lynchburg                   NaN
             Courtland                   NaN
             Bassfield                   NaN
             Soso              111400.000000
             Falkner                     NaN
             Sarah             109500.000000
             Benton                      NaN
Name: 2008q3, Length: 13188, dtype: float64

In [48]:
hdf.columns.get_loc(str(rec_start).lower())

34

In [51]:
hdf.iloc[:, hdf.columns.get_loc(str(rec_start).lower())-1]

State        RegionName
Washington   Seattle           445366.666667
             Spokane           155966.666667
             Tacoma            230433.333333
             Vancouver         225600.000000
             Renton            351533.333333
             Bellevue          557666.666667
             Everett           285433.333333
             Federal Way       292100.000000
             Kennewick         154166.666667
             Yakima            155300.000000
             Spokane Valley    176400.000000
             Kent              307766.666667
             Redmond           528166.666667
             Lynnwood          350366.666667
             Kirkland          447466.666667
             Pasco             137300.000000
             Bremerton         239266.666667
             Marysville        287500.000000
             Bellingham        298433.333333
             Auburn            296400.000000
             Lakewood          251533.333333
             Snohomish         421433.333333
             Port Orchard      272533.333333
             Issaquah          504000.000000
             Shoreline         372966.666667
             South Hill        268300.000000
             Richland          179366.666667
             Mount Vernon                NaN
             Sammamish         634733.333333
             Spanaway          233966.666667
                                   ...
Mississippi  Ecru                        NaN
             Plantersville      74900.000000
             Sandy Hook                  NaN
             Shubuta            61833.333333
             Pope                        NaN
             Golden             78200.000000
             Coffeeville                 NaN
             Lambert                     NaN
             Burnsville                  NaN
             Moselle           122400.000000
             Abbeville         118800.000000
             Lake               92100.000000
             Lamar              66733.333333
             Farmington         68500.000000
             Duck Hill                   NaN
             Shannon            74800.000000
             Smithville         64633.333333
             Kilmichael                  NaN
             Rienzi                      NaN
             Hamilton                    NaN
             Marietta           66533.333333
             Mize               82900.000000
             Ovett             114700.000000
             Lynchburg                   NaN
             Courtland                   NaN
             Bassfield                   NaN
             Soso              110533.333333
             Falkner                     NaN
             Sarah             110533.333333
             Benton                      NaN
Name: 2008q2, Length: 13188, dtype: float64

In [52]:
hdf.iloc[hdf.columns.get_loc(str(rec_start).lower())-1]

2000q1    227266.666667
2000q2    229233.333333
2000q3    231033.333333
2000q4    233766.666667
2001q1    238233.333333
2001q2    244766.666667
2001q3    249800.000000
2001q4    251600.000000
2002q1    253200.000000
2002q2    253533.333333
2002q3    254900.000000
2002q4    257766.666667
2003q1    260066.666667
2003q2    263433.333333
2003q3    268066.666667
2003q4    273066.666667
2004q1    279733.333333
2004q2    285433.333333
2004q3    292133.333333
2004q4    301733.333333
2005q1    311366.666667
2005q2    324633.333333
2005q3    340800.000000
2005q4    356900.000000
2006q1    372033.333333
2006q2    388066.666667
2006q3    400000.000000
2006q4    408266.666667
2007q1    413333.333333
2007q2    417233.333333
              ...
2009q2    348666.666667
2009q3    338966.666667
2009q4    336366.666667
2010q1    337500.000000
2010q2    332500.000000
2010q3    326433.333333
2010q4    320466.666667
2011q1    310900.000000
2011q2    307700.000000
2011q3    301600.000000
2011q4    299166.666667
2012q1    304866.666667
2012q2    309500.000000
2012q3    315533.333333
2012q4    323566.666667
2013q1    330700.000000
2013q2    338433.333333
2013q3    351900.000000
2013q4    360733.333333
2014q1    369100.000000
2014q2    377666.666667
2014q3    385166.666667
2014q4    391466.666667
2015q1    400400.000000
2015q2    413600.000000
2015q3    423266.666667
2015q4    426700.000000
2016q1    436766.666667
2016q2    451700.000000
2016q3    462833.333333
Name: (Washington, Bothell), Length: 67, dtype: float64

In [53]:
hdf['PriceRatio'] = hdf.iloc[:, hdf.columns.get_loc(str(rec_start).lower())-1].div(hdf[str(rec_bottom).lower()])
hdf.head()

                              2000q1         2000q2         2000q3  \
State      RegionName
Washington Seattle     248600.000000  255600.000000  262533.333333
           Spokane      91100.000000   90966.666667   91200.000000
           Tacoma      133066.666667  137966.666667  141033.333333
           Vancouver   134166.666667  137166.666667  139100.000000
           Renton      199533.333333  203233.333333  206400.000000

                              2000q4         2001q1         2001q2  \
State      RegionName
Washington Seattle     267400.000000  271000.000000  272466.666667
           Spokane      91400.000000   92533.333333   94866.666667
           Tacoma      140066.666667  140366.666667  141800.000000
           Vancouver   140266.666667  140366.666667  140333.333333
           Renton      209966.666667  213366.666667  216433.333333

                              2001q3         2001q4         2002q1  \
State      RegionName
Washington Seattle     274166.666667  278166.666667  280500.000000
           Spokane      95466.666667   96466.666667   96933.333333
           Tacoma      144333.333333  147400.000000  149600.000000
           Vancouver   140600.000000  141633.333333  143633.333333
           Renton      220066.666667  222800.000000  225266.666667

                              2002q2     ...             2014q3  \
State      RegionName                    ...
Washington Seattle     284600.000000     ...      449433.333333
           Spokane      96633.333333     ...      138666.666667
           Tacoma      147233.333333     ...      183000.000000
           Vancouver   144866.666667     ...      208966.666667
           Renton      227233.333333     ...      314633.333333

                              2014q4         2015q1         2015q2  \
State      RegionName
Washington Seattle     457466.666667  470100.000000  497333.333333
           Spokane     141500.000000  142433.333333  144633.333333
           Tacoma      186200.000000  188400.000000  195633.333333
           Vancouver   214500.000000  219866.666667  224500.000000
           Renton      320866.666667  327400.000000  338133.333333

                              2015q3         2015q4         2016q1  \
State      RegionName
Washington Seattle     517100.000000  538633.333333  560333.333333
           Spokane     147666.666667  149766.666667  154033.333333
           Tacoma      203533.333333  208833.333333  214166.666667
           Vancouver   230866.666667  235700.000000  246300.000000
           Renton      346266.666667  355766.666667  363733.333333

                              2016q2         2016q3  PriceRatio
State      RegionName
Washington Seattle     584366.666667  602600.000000    1.125137
           Spokane     158766.666667  162066.666667    1.057162
           Tacoma      221766.666667  229000.000000    1.118608
           Vancouver   258133.333333  263800.000000    1.134238
           Renton      380133.333333  399566.666667    1.144935

[5 rows x 68 columns]

In [57]:
# convert to a list of tuples
univTown_list = ul.to_records(index=False).tolist()
univTown_list

[('Alabama', 'Auburn'),
 ('Alabama', 'Florence'),
 ('Alabama', 'Jacksonville'),
 ('Alabama', 'Livingston'),
 ('Alabama', 'Montevallo'),
 ('Alabama', 'Troy'),
 ('Alabama', 'Tuscaloosa'),
 ('Alabama', 'Tuskegee'),
 ('Alaska', 'Fairbanks'),
 ('Arizona', 'Flagstaff'),
 ('Arizona', 'Tempe'),
 ('Arizona', 'Tucson'),
 ('Arkansas', 'Arkadelphia'),
 ('Arkansas', 'Conway'),
 ('Arkansas', 'Fayetteville'),
 ('Arkansas', 'Jonesboro'),
 ('Arkansas', 'Magnolia'),
 ('Arkansas', 'Monticello'),
 ('Arkansas', 'Russellville'),
 ('Arkansas', 'Searcy'),
 ('California', 'Angwin'),
 ('California', 'Arcata'),
 ('California', 'Berkeley'),
 ('California', 'Chico'),
 ('California', 'Claremont'),
 ('California', 'Cotati'),
 ('California', 'Davis'),
 ('California', 'Irvine'),
 ('California', 'Isla Vista'),
 ('California', 'University Park, Los Angeles'),
 ('California', 'Merced'),
 ('California', 'Orange'),
 ('California', 'Palo Alto'),
 ('California', 'Pomona'),
 ('California', 'Redlands'),
 ('California', 'Riverside'),
 ('California', 'Sacramento'),
 ('California', 'University District, San Bernardino'),
 ('California', 'San Diego'),
 ('California', 'San Luis Obispo'),
 ('California', 'Santa Barbara'),
 ('California', 'Santa Cruz'),
 ('California', 'Turlock'),
 ('California', 'Westwood, Los Angeles'),
 ('California', 'Whittier'),
 ('Colorado', 'Alamosa'),
 ('Colorado', 'Boulder'),
 ('Colorado', 'Durango'),
 ('Colorado', 'Fort Collins'),
 ('Colorado', 'Golden'),
 ('Colorado', 'Grand Junction'),
 ('Colorado', 'Greeley'),
 ('Colorado', 'Gunnison'),
 ('Colorado', 'Pueblo, Colorado'),
 ('Connecticut', 'Fairfield'),
 ('Connecticut', 'Middletown'),
 ('Connecticut', 'New Britain'),
 ('Connecticut', 'New Haven'),
 ('Connecticut', 'New London'),
 ('Connecticut', 'Storrs'),
 ('Connecticut', 'Willimantic'),
 ('Delaware', 'Dover'),
 ('Delaware', 'Newark'),
 ('Florida', 'Ave Maria'),
 ('Florida', 'Boca Raton'),
 ('Florida', 'Coral Gables'),
 ('Florida', 'DeLand'),
 ('Florida', 'Estero'),
 ('Florida', 'Gainesville'),
 ('Florida', 'Orlando'),
 ('Florida', 'Sarasota'),
 ('Florida', 'St. Augustine'),
 ('Florida', 'St. Leo'),
 ('Florida', 'Tallahassee'),
 ('Florida', 'Tampa'),
 ('Georgia', 'Albany'),
 ('Georgia', 'Athens'),
 ('Georgia', 'Atlanta'),
 ('Georgia', 'Carrollton'),
 ('Georgia', 'Demorest'),
 ('Georgia', 'Fort Valley'),
 ('Georgia', 'Kennesaw'),
 ('Georgia', 'Milledgeville'),
 ('Georgia', 'Mount Vernon'),
 ('Georgia', 'Oxford'),
 ('Georgia', 'Rome'),
 ('Georgia', 'Savannah'),
 ('Georgia', 'Statesboro'),
 ('Georgia', 'Valdosta'),
 ('Georgia', 'Waleska'),
 ('Georgia', 'Young Harris'),
 ('Hawaii', 'Manoa'),
 ('Idaho', 'Moscow'),
 ('Idaho', 'Pocatello'),
 ('Idaho', 'Rexburg'),
 ('Illinois', 'Carbondale'),
 ('Illinois', 'Champaign\xe2\x80\x93Urbana'),
 ('Illinois', 'Charleston'),
 ('Illinois', 'DeKalb'),
 ('Illinois', 'Edwardsville'),
 ('Illinois', 'Evanston'),
 ('Illinois', 'Lebanon'),
 ('Illinois', 'Macomb'),
 ('Illinois', 'Normal'),
 ('Illinois', 'Peoria'),
 ('Indiana', 'Bloomington'),
 ('Indiana', 'Crawfordsville'),
 ('Indiana', 'Greencastle'),
 ('Indiana', 'Hanover'),
 ('Indiana', 'Marion'),
 ('Indiana', 'Muncie'),
 ('Indiana', 'Oakland City'),
 ('Indiana', 'Richmond'),
 ('Indiana', 'South Bend'),
 ('Indiana', 'Terre Haute'),
 ('Indiana', 'Upland'),
 ('Indiana', 'Valparaiso'),
 ('Indiana', 'West Lafayette'),
 ('Iowa', 'Ames'),
 ('Iowa', 'Cedar Falls'),
 ('Iowa', 'Cedar Rapids, Iowa'),
 ('Iowa', 'Decorah'),
 ('Iowa', 'Fayette'),
 ('Iowa', 'Grinnell'),
 ('Iowa', 'Iowa City'),
 ('Iowa', 'Lamoni'),
 ('Iowa', 'Mount Vernon,'),
 ('Iowa', 'Orange City'),
 ('Iowa', 'Sioux Center'),
 ('Iowa', 'Storm Lake'),
 ('Iowa', 'Waverly'),
 ('Kansas', 'Baldwin City'),
 ('Kansas', 'Emporia'),
 ('Kansas', 'Hays'),
 ('Kansas', 'Lawrence'),
 ('Kansas', 'Manhattan'),
 ('Kansas', 'Pittsburg'),
 ('Kentucky', 'Bowling Green'),
 ('Kentucky', 'Columbia'),
 ('Kentucky', 'Georgetown'),
 ('Kentucky', 'Highland Heights'),
 ('Kentucky', 'Lexington'),
 ('Kentucky', 'Louisville'),
 ('Kentucky', 'Morehead'),
 ('Kentucky', 'Murray'),
 ('Kentucky', 'Richmond'),
 ('Kentucky', 'Williamsburg'),
 ('Kentucky', 'Wilmore'),
 ('Louisiana', 'Baton Rouge'),
 ('Louisiana', 'Grambling'),
 ('Louisiana', 'Hammond'),
 ('Louisiana', 'Lafayette'),
 ('Louisiana', 'Monroe'),
 ('Louisiana', 'Natchitoches'),
 ('Louisiana', 'Ruston'),
 ('Louisiana', 'Thibodaux'),
 ('Maine', 'Augusta'),
 ('Maine', 'Bar Harbor'),
 ('Maine', 'Brunswick'),
 ('Maine', 'Farmington'),
 ('Maine', 'Fort Kent'),
 ('Maine', 'Gorham'),
 ('Maine', 'Lewiston, Maine'),
 ('Maine', 'Orono'),
 ('Maine', 'Waterville'),
 ('Maryland', 'Annapolis'),
 ('Maryland', 'Chestertown'),
 ('Maryland', 'College Park'),
 ('Maryland', 'Cumberland'),
 ('Maryland', 'Emmitsburg'),
 ('Maryland', 'Frostburg'),
 ('Maryland', 'Princess Anne'),
 ('Maryland', 'Towson'),
 ('Maryland', 'Salisbury'),
 ('Maryland', 'Westminster'),
 ('Massachusetts', 'Boston'),
 ('Massachusetts', 'Bridgewater'),
 ('Massachusetts', 'Cambridge'),
 ('Massachusetts', 'Chestnut Hill'),
 ('Massachusetts', 'The Colleges of Worcester Consortium:'),
 ('Massachusetts', 'Dudley'),
 ('Massachusetts', 'North Grafton'),
 ('Massachusetts', 'Paxton'),
 ('Massachusetts', 'Worcester'),
 ('Massachusetts', 'The Five College Region of Western Massachusetts:'),
 ('Massachusetts', 'Amherst'),
 ('Massachusetts', 'Northampton'),
 ('Massachusetts', 'South Hadley'),
 ('Massachusetts', 'Fitchburg'),
 ('Massachusetts', 'North Adams'),
 ('Massachusetts', 'Springfield'),
 ('Massachusetts', 'Waltham'),
 ('Massachusetts', 'Williamstown'),
 ('Massachusetts', 'Framingham'),
 ('Michigan', 'Adrian'),
 ('Michigan', 'Albion'),
 ('Michigan', 'Allendale'),
 ('Michigan', 'Alma'),
 ('Michigan', 'Ann Arbor'),
 ('Michigan', 'Berrien Springs'),
 ('Michigan', 'Big Rapids'),
 ('Michigan', 'East Lansing'),
 ('Michigan', 'Flint'),
 ('Michigan', 'Hillsdale'),
 ('Michigan', 'Houghton'),
 ('Michigan', 'Kalamazoo'),
 ('Michigan', 'Marquette'),
 ('Michigan', 'Midland'),
 ('Michigan', 'Mount Pleasant'),
 ('Michigan', 'Olivet'),
 ('Michigan', 'Saginaw'),
 ('Michigan', 'Sault Ste. Marie'),
 ('Michigan', 'Spring Arbor'),
 ('Michigan', 'Ypsilanti'),
 ('Minnesota', 'Bemidji'),
 ('Minnesota', 'Crookston'),
 ('Minnesota', 'Duluth'),
 ('Minnesota', 'Faribault, South Central College'),
 ('Minnesota', 'Mankato'),
 ('Minnesota', 'Marshall'),
 ('Minnesota', 'Moorhead'),
 ('Minnesota', 'Morris'),
 ('Minnesota', 'Northfield'),
 ('Minnesota', 'North Mankato, South Central College'),
 ('Minnesota', 'St. Cloud'),
 ('Minnesota', 'St. Joseph'),
 ('Minnesota', 'St. Peter'),
 ('Minnesota', 'Winona'),
 ('Mississippi', 'Cleveland'),
 ('Mississippi', 'Hattiesburg'),
 ('Mississippi', 'Itta Bena'),
 ('Mississippi', 'Oxford'),
 ('Mississippi', 'Starkville'),
 ('Missouri', 'Bolivar'),
 ('Missouri', 'Cape Girardeau'),
 ('Missouri', 'Columbia'),
 ('Missouri', 'Fayette'),
 ('Missouri', 'Fulton'),
 ('Missouri', 'Kirksville'),
 ('Missouri', 'Maryville'),
 ('Missouri', 'Rolla'),
 ('Missouri', 'Warrensburg'),
 ('Montana', 'Bozeman'),
 ('Montana', 'Dillon'),
 ('Montana', 'Missoula'),
 ('Nebraska', 'Chadron'),
 ('Nebraska', 'Crete'),
 ('Nebraska', 'Kearney'),
 ('Nebraska', 'Lincoln'),
 ('Nebraska', 'Peru'),
 ('Nebraska', 'Seward'),
 ('Nebraska', 'Wayne'),
 ('Nevada', 'Las Vegas'),
 ('Nevada', 'Reno'),
 ('New Hampshire', 'New London, New Hampshire'),
 ('New Hampshire', 'Durham'),
 ('New Hampshire', 'Hanover'),
 ('New Hampshire', 'Henniker'),
 ('New Hampshire', 'Keene'),
 ('New Hampshire', 'Plymouth'),
 ('New Hampshire', 'Rindge'),
 ('New Jersey', 'Ewing'),
 ('New Jersey', 'Jersey City'),
 ('New Jersey', 'Glassboro'),
 ('New Jersey', 'Hoboken'),
 ('New Jersey', 'Madison'),
 ('New Jersey', 'Newark'),
 ('New Jersey', 'New Brunswick'),
 ('New Jersey', 'Princeton'),
 ('New Jersey', 'Union'),
 ('New Jersey', 'West Long Branch'),
 ('New Mexico', 'Hobbs'),
 ('New Mexico', 'Las Cruces'),
 ('New Mexico', 'Las Vegas'),
 ('New Mexico', 'Portales'),
 ('New Mexico', 'Silver City'),
 ('New York', 'Alfred'),
 ('New York', 'Albany'),
 ('New York', 'Aurora'),
 ('New York', 'Binghamton'),
 ('New York', 'Brockport'),
 ('New York', 'Buffalo'),
 ('New York', 'Canton'),
 ('New York', 'Clinton'),
 ('New York', 'Cobleskill'),
 ('New York', 'Delhi'),
 ('New York', 'Fredonia'),
 ('New York', 'Geneseo'),
 ('New York', 'Geneva'),
 ('New York', 'Hamilton'),
 ('New York', 'Ithaca'),
 ('New York', 'Morningside Heights, Manhattan'),
 ('New York', 'New Paltz'),
 ('New York', 'Oneonta'),
 ('New York', 'Oswego'),
 ('New York', 'Plattsburgh'),
 ('New York', 'Potsdam'),
 ('New York', 'Poughkeepsie'),
 ('New York', 'Purchase'),
 ('New York', 'Rochester'),
 ('New York', 'Saratoga Springs'),
 ('New York', 'Seneca Falls'),
 ('New York', 'Stony Brook'),
 ('New York', 'Syracuse'),
 ('New York', 'Tivoli'),
 ('New York', 'Troy'),
 ('New York', 'West Point'),
 ('North Carolina', 'Banner Elk'),
 ('North Carolina', 'Boiling Springs'),
 ('North Carolina', 'Boone'),
 ('North Carolina', 'Buies Creek'),
 ('North Carolina', 'Chapel Hill'),
 ('North Carolina', 'Cullowhee'),
 ('North Carolina', 'Davidson'),
 ('North Carolina', 'Durham'),
 ('North Carolina', 'Elon'),
 ('North Carolina', 'Greensboro'),
 ('North Carolina', 'Greenville'),
 ('North Carolina', 'Hickory'),
 ('North Carolina', 'Mars Hill'),
 ('North Carolina', 'Mount Olive'),
 ('North Carolina', 'Pembroke'),
 ('North Carolina', 'Wilmington, North Carolina'),
 ('North Carolina', 'Wingate'),
 ('North Carolina', 'Winston-Salem'),
 ('North Dakota', 'Fargo'),
 ('North Dakota', 'Grand Forks'),
 ('Ohio', 'Ada'),
 ('Ohio', 'Alliance'),
 ('Ohio', 'Ashland'),
 ('Ohio', 'Athens'),
 ('Ohio', 'Berea'),
 ('Ohio', 'Bluffton'),
 ('Ohio', 'Bowling Green'),
 ('Ohio', 'Cedarville'),
 ('Ohio', 'Columbus'),
 ('Ohio', 'Delaware'),
 ('Ohio', 'Fairborn'),
 ('Ohio', 'Findlay'),
 ('Ohio', 'Gambier'),
 ('Ohio', 'Granville'),
 ('Ohio', 'Hiram'),
 ('Ohio', 'Kent'),
 ('Ohio', 'Nelsonville'),
 ('Ohio', 'New Concord'),
 ('Ohio', 'Oberlin'),
 ('Ohio', 'Oxford'),
 ('Ohio', 'Rio Grande'),
 ('Ohio', 'Wilberforce'),
 ('Oklahoma', 'Ada'),
 ('Oklahoma', 'Alva'),
 ('Oklahoma', 'Durant'),
 ('Oklahoma', 'Edmond'),
 ('Oklahoma', 'Goodwell'),
 ('Oklahoma', 'Langston'),
 ('Oklahoma', 'Norman'),
 ('Oklahoma', 'Stillwater'),
 ('Oklahoma', 'Tahlequah'),
 ('Oklahoma', 'Tulsa'),
 ('Oklahoma', 'Weatherford'),
 ('Oregon', 'Ashland'),
 ('Oregon', 'Corvallis'),
 ('Oregon', 'Eugene'),
 ('Oregon', 'Forest Grove'),
 ('Oregon', 'Klamath Falls'),
 ('Oregon', 'La Grande'),
 ('Oregon', 'Marylhurst'),
 ('Oregon', 'McMinnville'),
 ('Oregon', 'Monmouth'),
 ('Oregon', 'Newberg'),
 ('Pennsylvania', 'Altoona'),
 ('Pennsylvania', 'Annville'),
 ('Pennsylvania', 'Bethlehem'),
 ('Pennsylvania', 'Bloomsburg'),
 ('Pennsylvania', 'Bradford'),
 ('Pennsylvania', 'California'),
 ('Pennsylvania', 'Carlisle'),
 ('Pennsylvania', 'Cecil B. Moore, Philadelphia, also known as "Templetown"'),
 ('Pennsylvania', 'Clarion'),
 ('Pennsylvania', 'Collegeville'),
 ('Pennsylvania', 'Cresson'),
 ('Pennsylvania', 'East Stroudsburg'),
 ('Pennsylvania', 'Edinboro'),
 ('Pennsylvania', 'Erie'),
 ('Pennsylvania', 'Gettysburg'),
 ('Pennsylvania', 'Greensburg'),
 ('Pennsylvania', 'Grove City'),
 ('Pennsylvania', 'Huntingdon'),
 ('Pennsylvania', 'Indiana'),
 ('Pennsylvania', 'Johnstown'),
 ('Pennsylvania', 'Kutztown'),
 ('Pennsylvania', 'Lancaster'),
 ('Pennsylvania', 'Lewisburg'),
 ('Pennsylvania', 'Lock Haven'),
 ('Pennsylvania', 'Loretto'),
 ('Pennsylvania', 'Mansfield'),
 ('Pennsylvania', 'Meadville'),
 ('Pennsylvania', 'Mont Alto'),
 ('Pennsylvania', 'Millersville'),
 ('Pennsylvania', 'New Wilmington'),
 ('Pennsylvania', 'North East'),
 ('Pennsylvania', 'University City, Philadelphia'),
 ('Pennsylvania', 'Oakland, Pittsburgh'),
 ('Pennsylvania', 'Reading'),
 ('Pennsylvania', 'Selinsgrove'),
 ('Pennsylvania', 'Shippensburg'),
 ('Pennsylvania', 'Slippery Rock'),
 ('Pennsylvania', 'State College'),
 ('Pennsylvania', 'Villanova'),
 ('Pennsylvania', 'Waynesburg'),
 ('Pennsylvania', 'West Chester'),
 ('Pennsylvania', 'Wilkes-Barre'),
 ('Pennsylvania', 'Williamsport'),
 ('Rhode Island', 'Kingston'),
 ('Rhode Island', 'Providence'),
 ('South Carolina', 'Central'),
 ('South Carolina', 'Charleston'),
 ('South Carolina', 'Clemson'),
 ('South Carolina', 'Clinton'),
 ('South Carolina', 'Columbia'),
 ('South Carolina', 'Due West'),
 ('South Carolina', 'Florence'),
 ('South Carolina', 'Greenwood'),
 ('South Carolina', 'Orangeburg'),
 ('South Carolina', 'Rock Hill'),
 ('South Carolina', 'Spartanburg'),
 ('South Dakota', 'Brookings'),
 ('South Dakota', 'Madison'),
 ('South Dakota', 'Spearfish'),
 ('South Dakota', 'Vermillion'),
 ('Tennessee', 'Chattanooga'),
 ('Tennessee', 'Collegedale'),
 ('Tennessee', 'Cookeville'),
 ('Tennessee', 'Harrogate'),
 ('Tennessee', 'Henderson'),
 ('Tennessee', 'Johnson City'),
 ('Tennessee', 'Knoxville'),
 ('Tennessee', 'Martin'),
 ('Tennessee', 'McKenzie'),
 ('Tennessee', 'Memphis'),
 ('Tennessee', 'Murfreesboro'),
 ('Tennessee', 'Nashville'),
 ('Tennessee', 'Sewanee'),
 ('Texas', 'Abilene'),
 ('Texas', 'Alpine'),
 ('Texas', 'Austin'),
 ('Texas', 'Beaumont'),
 ('Texas', 'Canyon'),
 ('Texas', 'College Station'),
 ('Texas', 'Commerce'),
 ('Texas', 'Dallas'),
 ('Texas', 'Denton'),
 ('Texas', 'Fort Worth'),
 ('Texas', 'Georgetown'),
 ('Texas', 'Huntsville'),
 ('Texas', 'Houston'),
 ('Texas', 'Keene'),
 ('Texas', 'Kingsville'),
 ('Texas', 'Lubbock'),
 ('Texas', 'Nacogdoches'),
 ('Texas', 'Plainview'),
 ('Texas', 'Prairie View'),
 ('Texas', 'San Marcos'),
 ('Texas', 'Stephenville'),
 ('Texas', 'Waco'),
 ('Utah', 'Cedar City'),
 ('Utah', 'Logan'),
 ('Utah', 'Provo'),
 ('Utah', 'Orem'),
 ('Utah', 'Salt Lake City'),
 ('Utah', 'Ephraim'),
 ('Vermont', 'Burlington'),
 ('Vermont', 'Castleton'),
 ('Vermont', 'Johnson'),
 ('Vermont', 'Lyndonville'),
 ('Vermont', 'Middlebury'),
 ('Vermont', 'Northfield'),
 ('Virginia', 'Blacksburg'),
 ('Virginia', 'Bridgewater'),
 ('Virginia', 'Charlottesville'),
 ('Virginia', 'Farmville'),
 ('Virginia', 'Fredericksburg'),
 ('Virginia', 'Harrisonburg'),
 ('Virginia', 'Lexington'),
 ('Virginia', 'Lynchburg'),
 ('Virginia', 'Radford'),
 ('Virginia', 'Williamsburg'),
 ('Virginia', 'Wise'),
 ('Virginia', 'Chesapeake'),
 ('Washington', 'Bellingham'),
 ('Washington', 'Cheney'),
 ('Washington', 'Ellensburg'),
 ('Washington', 'Pullman'),
 ('Washington', 'University District, Seattle'),
 ('West Virginia', 'Athens'),
 ('West Virginia', 'Buckhannon'),
 ('West Virginia', 'Fairmont'),
 ('West Virginia', 'Glenville'),
 ('West Virginia', 'Huntington'),
 ('West Virginia', 'Montgomery'),
 ('West Virginia', 'Morgantown'),
 ('West Virginia', 'Shepherdstown'),
 ('West Virginia', 'West Liberty'),
 ('Wisconsin', 'Appleton'),
 ('Wisconsin', 'Eau Claire'),
 ('Wisconsin', 'Green Bay'),
 ('Wisconsin', 'La Crosse'),
 ('Wisconsin', 'Madison'),
 ('Wisconsin', 'Menomonie'),
 ('Wisconsin', 'Milwaukee'),
 ('Wisconsin', 'Oshkosh'),
 ('Wisconsin', 'Platteville'),
 ('Wisconsin', 'River Falls'),
 ('Wisconsin', 'Stevens Point'),
 ('Wisconsin', 'Waukesha'),
 ('Wisconsin', 'Whitewater'),
 ('Wyoming', 'Laramie')]

In [62]:
univGroup = hdf.loc[univTown_list]
univGroup

                                                   2000q1         2000q2  \
Alabama       Auburn                        157266.666667  159066.666667
              Florence                       75566.666667   76233.333333
              Jacksonville                            NaN            NaN
              Livingston                              NaN            NaN
              Montevallo                     97000.000000   96800.000000
              Troy                           64033.333333   64000.000000
              Tuscaloosa                    104466.666667  106033.333333
              Tuskegee                                NaN            NaN
Alaska        Fairbanks                     163200.000000  165033.333333
Arizona       Flagstaff                     161266.666667  164100.000000
              Tempe                         128100.000000  129933.333333
              Tucson                        101833.333333  102966.666667
Arkansas      Arkadelphia                             NaN            NaN
              Conway                         85866.666667   87166.666667
              Fayetteville                  107933.333333  110333.333333
              Jonesboro                      86166.666667   87166.666667
              Magnolia                                NaN            NaN
              Monticello                              NaN            NaN
              Russellville                   74700.000000   74933.333333
              Searcy                         81100.000000   80633.333333
California    Angwin                                  NaN            NaN
              Arcata                        131000.000000  139533.333333
              Berkeley                      395633.333333  431033.333333
              Chico                         128800.000000  132533.333333
              Claremont                     253766.666667  260633.333333
              Cotati                        240966.666667  254800.000000
              Davis                         238900.000000  249000.000000
              Irvine                        327366.666667  335833.333333
              Isla Vista                              NaN            NaN
              University Park, Los Angeles            NaN            NaN
...                                                   ...            ...
Virginia      Wise                                    NaN            NaN
              Chesapeake                    121200.000000  122733.333333
Washington    Bellingham                    156000.000000  160000.000000
              Cheney                        114133.333333  113700.000000
              Ellensburg                    127666.666667  124966.666667
              Pullman                                 NaN            NaN
              University District, Seattle            NaN            NaN
West Virginia Athens                                  NaN            NaN
              Buckhannon                              NaN            NaN
              Fairmont                                NaN            NaN
              Glenville                               NaN            NaN
              Huntington                              NaN            NaN
              Montgomery                              NaN            NaN
              Morgantown                     85033.333333   85566.666667
              Shepherdstown                           NaN            NaN
              West Liberty                            NaN            NaN
Wisconsin     Appleton                       80066.666667   79166.666667
              Eau Claire                    100933.333333  104200.000000
              Green Bay                      81600.000000   85800.000000
              La Crosse                      90066.666667   90233.333333
              Madison                       137700.000000  140500.000000
              Menomonie                     153500.000000  153466.666667
              Milwaukee                      78033.333333   79066.666667
              Oshkosh                        85633.333333   88633.333333
              Platteville                   138400.000000  138466.666667
              River Falls                             NaN            NaN
              Stevens Point                  73466.666667   73100.000000
              Waukesha                      141266.666667  138433.333333
              Whitewater                              NaN            NaN
Wyoming       Laramie                                 NaN            NaN

                                                   2000q3         2000q4  \
Alabama       Auburn                        157666.666667  157133.333333
              Florence                       77333.333333   76633.333333
              Jacksonville                            NaN            NaN
              Livingston                              NaN            NaN
              Montevallo                     96533.333333   98333.333333
              Troy                           63633.333333   62233.333333
              Tuscaloosa                    108500.000000  108766.666667
              Tuskegee                                NaN            NaN
Alaska        Fairbanks                     169300.000000  172800.000000
Arizona       Flagstaff                     165466.666667  168266.666667
              Tempe                         131100.000000  132800.000000
              Tucson                        104466.666667  105666.666667
Arkansas      Arkadelphia                             NaN            NaN
              Conway                         88366.666667   88800.000000
              Fayetteville                  112566.666667  114600.000000
              Jonesboro                      89033.333333   90900.000000
              Magnolia                                NaN            NaN
              Monticello                              NaN            NaN
              Russellville                   74033.333333   72733.333333
              Searcy                         79233.333333   79833.333333
California    Angwin                                  NaN            NaN
              Arcata                        149233.333333  151200.000000
              Berkeley                      464366.666667  480866.666667
              Chico                         137266.666667  143033.333333
              Claremont                     268066.666667  271466.666667
              Cotati                        277100.000000  300366.666667
              Davis                         256600.000000  265866.666667
              Irvine                        341833.333333  352900.000000
              Isla Vista                              NaN            NaN
              University Park, Los Angeles            NaN            NaN
...                                                   ...            ...
Virginia      Wise                                    NaN            NaN
              Chesapeake                    123300.000000  123533.333333
Washington    Bellingham                    163033.333333  160900.000000
              Cheney                        114133.333333  117333.333333
              Ellensburg                    124500.000000  127600.000000
              Pullman                                 NaN            NaN
              University District, Seattle            NaN            NaN
West Virginia Athens                                  NaN            NaN
              Buckhannon                              NaN            NaN
              Fairmont                                NaN            NaN
              Glenville                               NaN            NaN
              Huntington                              NaN            NaN
              Montgomery                              NaN            NaN
              Morgantown                     87066.666667   89066.666667
              Shepherdstown                           NaN            NaN
              West Liberty                            NaN            NaN
Wisconsin     Appleton                       80166.666667   82900.000000
              Eau Claire                    105166.666667  106633.333333
              Green Bay                      90933.333333   95133.333333
              La Crosse                      90466.666667   88366.666667
              Madison                       141933.333333  142966.666667
              Menomonie                     153433.333333  153366.666667
              Milwaukee                      81033.333333   82333.333333
              Oshkosh                        89400.000000   93833.333333
              Platteville                   138500.000000  138466.666667
              River Falls                             NaN            NaN
              Stevens Point                  74200.000000   77666.666667
              Waukesha                      136733.333333  139833.333333
              Whitewater                              NaN            NaN
Wyoming       Laramie                                 NaN            NaN

                                                   2001q1         2001q2  \
Alabama       Auburn                        156533.333333  162466.666667
              Florence                       77800.000000   78700.000000
              Jacksonville                            NaN            NaN
              Livingston                              NaN            NaN
              Montevallo                     99466.666667  101333.333333
              Troy                           62166.666667   56866.666667
              Tuscaloosa                    109900.000000  111366.666667
              Tuskegee                                NaN            NaN
Alaska        Fairbanks                     164433.333333  157800.000000
Arizona       Flagstaff                     172000.000000  175633.333333
              Tempe                         135633.333333  137900.000000
              Tucson                        107200.000000  108766.666667
Arkansas      Arkadelphia                             NaN            NaN
              Conway                         89333.333333   90266.666667
              Fayetteville                  116933.333333  119366.666667
              Jonesboro                      92266.666667   92900.000000
              Magnolia                                NaN            NaN
              Monticello                              NaN            NaN
              Russellville                   72966.666667   74900.000000
              Searcy                         82500.000000   85433.333333
California    Angwin                                  NaN            NaN
              Arcata                        153800.000000  151000.000000
              Berkeley                      496566.666667  497666.666667
              Chico                         147900.000000  156133.333333
              Claremont                     280233.333333  292766.666667
              Cotati                        317833.333333  327133.333333
              Davis                         274966.666667  284900.000000
              Irvine                        362733.333333  374300.000000
              Isla Vista                              NaN            NaN
              University Park, Los Angeles            NaN            NaN
...                                                   ...            ...
Virginia      Wise                                    NaN            NaN
              Chesapeake                    125833.333333  128600.000000
Washington    Bellingham                    157533.333333  158866.666667
              Cheney                        120933.333333  123666.666667
              Ellensburg                    132833.333333  136300.000000
              Pullman                                 NaN            NaN
              University District, Seattle            NaN            NaN
West Virginia Athens                                  NaN            NaN
              Buckhannon                              NaN            NaN
              Fairmont                                NaN            NaN
              Glenville                               NaN            NaN
              Huntington                              NaN            NaN
              Montgomery                              NaN            NaN
              Morgantown                     91400.000000   94000.000000
              Shepherdstown                           NaN            NaN
              West Liberty                            NaN            NaN
Wisconsin     Appleton                       88966.666667   93700.000000
              Eau Claire                    107933.333333  108933.333333
              Green Bay                      97100.000000   98933.333333
              La Crosse                      87400.000000   89133.333333
              Madison                       146033.333333  149600.000000
              Menomonie                     153266.666667  153266.666667
              Milwaukee                      84033.333333   85566.666667
              Oshkosh                        98733.333333  103766.666667
              Platteville                   138400.000000  138466.666667
              River Falls                             NaN            NaN
              Stevens Point                  83266.666667   90700.000000
              Waukesha                      147600.000000  151066.666667
              Whitewater                              NaN            NaN
Wyoming       Laramie                                 NaN            NaN

                                                   2001q3         2001q4  \
Alabama       Auburn                        168466.666667  171100.000000
              Florence                       78700.000000   78900.000000
              Jacksonville                            NaN            NaN
              Livingston                              NaN            NaN
              Montevallo                    103200.000000  101866.666667
              Troy                           57933.333333   61533.333333
              Tuscaloosa                    110000.000000  110700.000000
              Tuskegee                                NaN            NaN
Alaska        Fairbanks                     158200.000000  154666.666667
Arizona       Flagstaff                     178966.666667  180800.000000
              Tempe                         139700.000000  141833.333333
              Tucson                        110566.666667  112800.000000
Arkansas      Arkadelphia                             NaN            NaN
              Conway                         89466.666667   89066.666667
              Fayetteville                  120166.666667  119966.666667
              Jonesboro                      92066.666667   90366.666667
              Magnolia                                NaN            NaN
              Monticello                              NaN            NaN
              Russellville                   76633.333333   77633.333333
              Searcy                         86866.666667   86433.333333
California    Angwin                                  NaN            NaN
              Arcata                        157100.000000  173733.333333
              Berkeley                      483266.666667  476233.333333
              Chico                         162533.333333  166300.000000
              Claremont                     300433.333333  305066.666667
              Cotati                        326933.333333  325800.000000
              Davis                         296000.000000  302466.666667
              Irvine                        384133.333333  391066.666667
              Isla Vista                              NaN            NaN
              University Park, Los Angeles            NaN            NaN
...                                                   ...            ...
Virginia      Wise                                    NaN            NaN
              Chesapeake                    131633.333333  134700.000000
Washington    Bellingham                    159433.333333  164200.000000
              Cheney                        125900.000000  125766.666667
              Ellensburg                    139433.333333  143333.333333
              Pullman                                 NaN            NaN
              University District, Seattle            NaN            NaN
West Virginia Athens                                  NaN            NaN
              Buckhannon                              NaN            NaN
              Fairmont                                NaN            NaN
              Glenville                               NaN            NaN
              Huntington                              NaN            NaN
              Montgomery                              NaN            NaN
              Morgantown                     95900.000000   96200.000000
              Shepherdstown                           NaN            NaN
              West Liberty                            NaN            NaN
Wisconsin     Appleton                       96600.000000   97866.666667
              Eau Claire                    110900.000000  112333.333333
              Green Bay                     100266.666667  101966.666667
              La Crosse                      90766.666667   92400.000000
              Madison                       152766.666667  153633.333333
              Menomonie                     153366.666667  153533.333333
              Milwaukee                      87066.666667   88400.000000
              Oshkosh                       105500.000000  104966.666667
              Platteville                   138500.000000  138466.666667
              River Falls                             NaN            NaN
              Stevens Point                  95100.000000   98966.666667
              Waukesha                      153133.333333  155033.333333
              Whitewater                              NaN            NaN
Wyoming       Laramie                                 NaN            NaN

                                                   2002q1         2002q2  \
Alabama       Auburn                        172966.666667  169033.333333
              Florence                       79366.666667   79333.333333
              Jacksonville                            NaN            NaN
              Livingston                              NaN            NaN
              Montevallo                    100900.000000  102700.000000
              Troy                           67966.666667   76500.000000
              Tuscaloosa                    111900.000000  111233.333333
              Tuskegee                                NaN            NaN
Alaska        Fairbanks                     152766.666667  154533.333333
Arizona       Flagstaff                     182066.666667  184400.000000
              Tempe                         144166.666667  146566.666667
              Tucson                        115000.000000  117200.000000
Arkansas      Arkadelphia                             NaN            NaN
              Conway                         89600.000000   90066.666667
              Fayetteville                  121133.333333  122400.000000
              Jonesboro                      89233.333333   89133.333333
              Magnolia                                NaN            NaN
              Monticello                              NaN            NaN
              Russellville                   77833.333333   77500.000000
              Searcy                         86333.333333   86400.000000
California    Angwin                                  NaN            NaN
              Arcata                        178700.000000  188100.000000
              Berkeley                      471366.666667  489200.000000
              Chico                         171833.333333  179966.666667

In [60]:
otherGroup = hdf.loc[~hdf.index.isin(univTown_list)]
otherGroup

                                   2000q1         2000q2         2000q3  \
State       RegionName
Washington  Seattle         248600.000000  255600.000000  262533.333333
            Spokane          91100.000000   90966.666667   91200.000000
            Tacoma          133066.666667  137966.666667  141033.333333
            Vancouver       134166.666667  137166.666667  139100.000000
            Renton          199533.333333  203233.333333  206400.000000
            Bellevue        295866.666667  300700.000000  300333.333333
            Everett         160800.000000  162700.000000  164166.666667
            Federal Way     170033.333333  172233.333333  174533.333333
            Kennewick       113500.000000  115800.000000  117266.666667
            Yakima          110433.333333  110900.000000  111166.666667
            Spokane Valley  105866.666667  106200.000000  106600.000000
            Kent            179500.000000  182366.666667  185333.333333
            Redmond         293533.333333  299066.666667  302833.333333
            Lynnwood        196733.333333  200200.000000  203566.666667
            Kirkland        245666.666667  249333.333333  252900.000000
            Pasco           106500.000000  106300.000000  105066.666667
            Bremerton       118900.000000  120833.333333  121200.000000
            Marysville      169133.333333  170833.333333  172533.333333
            Auburn          171366.666667  174233.333333  174733.333333
            Lakewood        155500.000000  158100.000000  160133.333333
            Snohomish       247833.333333  252100.000000  252700.000000
            Port Orchard    139600.000000  141766.666667  143633.333333
            Issaquah        291900.000000  294966.666667  297433.333333
            Shoreline       207700.000000  210866.666667  213800.000000
            South Hill      161833.333333  163000.000000  164733.333333
            Richland        135066.666667  137666.666667  139100.000000
            Mount Vernon              NaN            NaN            NaN
            Sammamish       365466.666667  374533.333333  379533.333333
            Spanaway        138166.666667  138866.666667  140900.000000
            Longview        105833.333333  105800.000000  106766.666667
...                                   ...            ...            ...
Mississippi Ecru                      NaN            NaN            NaN
            Plantersville    62366.666667   64333.333333   68466.666667
            Sandy Hook                NaN            NaN            NaN
            Shubuta          46600.000000   46833.333333   47433.333333
            Pope                      NaN            NaN            NaN
            Golden           56100.000000   53833.333333   53533.333333
            Coffeeville               NaN            NaN            NaN
            Lambert                   NaN            NaN            NaN
            Burnsville                NaN            NaN            NaN
            Moselle          68533.333333   69800.000000   74200.000000
            Abbeville        82866.666667   84900.000000   85566.666667
            Lake             61233.333333   60666.666667   59100.000000
            Lamar            56466.666667   58733.333333   61566.666667
            Farmington       53966.666667   54366.666667   56800.000000
            Duck Hill                 NaN            NaN            NaN
            Shannon          61600.000000   63333.333333   63866.666667
            Smithville       57933.333333   54766.666667   51700.000000
            Kilmichael                NaN            NaN            NaN
            Rienzi                    NaN            NaN            NaN
            Hamilton                  NaN            NaN            NaN
            Marietta         50033.333333   50366.666667   51400.000000
            Mize             61633.333333   60766.666667   60200.000000
            Ovett            68100.000000   71800.000000   76833.333333
            Lynchburg                 NaN            NaN            NaN
            Courtland                 NaN            NaN            NaN
            Bassfield                 NaN            NaN            NaN
            Soso             66866.666667   66500.000000   69033.333333
            Falkner                   NaN            NaN            NaN
            Sarah           112000.000000  112000.000000  111900.000000
            Benton                    NaN            NaN            NaN

                                   2000q4         2001q1         2001q2  \
State       RegionName
Washington  Seattle         267400.000000  271000.000000  272466.666667
            Spokane          91400.000000   92533.333333   94866.666667
            Tacoma          140066.666667  140366.666667  141800.000000
            Vancouver       140266.666667  140366.666667  140333.333333
            Renton          209966.666667  213366.666667  216433.333333
            Bellevue        303566.666667  309766.666667  318533.333333
            Everett         165666.666667  167833.333333  170833.333333
            Federal Way     177233.333333  180633.333333  182633.333333
            Kennewick       117833.333333  120666.666667  123933.333333
            Yakima          111766.666667  113200.000000  113366.666667
            Spokane Valley  105500.000000  105700.000000  107700.000000
            Kent            189400.000000  192800.000000  195133.333333
            Redmond         304300.000000  305733.333333  309633.333333
            Lynnwood        206233.333333  209866.666667  213866.666667
            Kirkland        257300.000000  260733.333333  262533.333333
            Pasco           105966.666667  106000.000000  108933.333333
            Bremerton       122433.333333  125433.333333  127133.333333
            Marysville      174033.333333  175800.000000  178600.000000
            Auburn          176533.333333  179733.333333  181966.666667
            Lakewood        159133.333333  159233.333333  159866.666667
            Snohomish       253300.000000  255633.333333  260433.333333
            Port Orchard    145066.666667  148766.666667  150666.666667
            Issaquah        297600.000000  299966.666667  305733.333333
            Shoreline       217033.333333  220833.333333  224733.333333
            South Hill      165600.000000  167966.666667  170666.666667
            Richland        139400.000000  139533.333333  142600.000000
            Mount Vernon              NaN            NaN            NaN
            Sammamish       382766.666667  387166.666667  392366.666667
            Spanaway        141466.666667  143666.666667  145666.666667
            Longview        107933.333333  110600.000000  111166.666667
...                                   ...            ...            ...
Mississippi Ecru                      NaN            NaN            NaN
            Plantersville    70000.000000   69566.666667   70400.000000
            Sandy Hook                NaN            NaN            NaN
            Shubuta          47500.000000   46066.666667   45600.000000
            Pope                      NaN            NaN            NaN
            Golden           53466.666667   55500.000000   58000.000000
            Coffeeville               NaN            NaN            NaN
            Lambert                   NaN            NaN            NaN
            Burnsville                NaN            NaN            NaN
            Moselle          79466.666667   84900.000000   85500.000000
            Abbeville        83266.666667   79833.333333   78933.333333
            Lake             60066.666667   62900.000000   64000.000000
            Lamar            60966.666667   59700.000000   58300.000000
            Farmington       61300.000000   68400.000000   68833.333333
            Duck Hill                 NaN            NaN            NaN
            Shannon          65500.000000   66433.333333   67633.333333
            Smithville       49400.000000   49500.000000   50466.666667
            Kilmichael                NaN            NaN            NaN
            Rienzi                    NaN            NaN            NaN
            Hamilton                  NaN            NaN            NaN
            Marietta         51033.333333   52566.666667   53633.333333
            Mize             60933.333333   62633.333333   64366.666667
            Ovett            79133.333333   78800.000000   73300.000000
            Lynchburg                 NaN            NaN            NaN
            Courtland                 NaN            NaN            NaN
            Bassfield                 NaN            NaN            NaN
            Soso             73766.666667   79133.333333   81100.000000
            Falkner                   NaN            NaN            NaN
            Sarah           111900.000000  112000.000000  112000.000000
            Benton                    NaN            NaN            NaN

                                   2001q3         2001q4         2002q1  \
State       RegionName
Washington  Seattle         274166.666667  278166.666667  280500.000000
            Spokane          95466.666667   96466.666667   96933.333333
            Tacoma          144333.333333  147400.000000  149600.000000
            Vancouver       140600.000000  141633.333333  143633.333333
            Renton          220066.666667  222800.000000  225266.666667
            Bellevue        325900.000000  327900.000000  326766.666667
            Everett         173466.666667  176333.333333  178500.000000
            Federal Way     184133.333333  185600.000000  187166.666667
            Kennewick       126933.333333  129833.333333  131633.333333
            Yakima          111533.333333  110633.333333  111933.333333
            Spokane Valley  108866.666667  110966.666667  111666.666667
            Kent            197600.000000  199533.333333  201800.000000
            Redmond         313866.666667  318266.666667  318966.666667
            Lynnwood        217133.333333  219500.000000  221133.333333
            Kirkland        264533.333333  267500.000000  269600.000000
            Pasco           111333.333333  112066.666667  113366.666667
            Bremerton       128766.666667  130400.000000  133166.666667
            Marysville      180466.666667  182666.666667  184900.000000
            Auburn          183966.666667  186533.333333  190266.666667
            Lakewood        162866.666667  166166.666667  167933.333333
            Snohomish       265666.666667  268800.000000  270300.000000
            Port Orchard    152633.333333  154800.000000  157100.000000
            Issaquah        309233.333333  313733.333333  315633.333333
            Shoreline       227533.333333  230533.333333  234200.000000
            South Hill      173533.333333  175833.333333  179433.333333
            Richland        146700.000000  149966.666667  153733.333333
            Mount Vernon              NaN            NaN            NaN
            Sammamish       396800.000000  401900.000000  403266.666667
            Spanaway        148200.000000  150733.333333  153933.333333
            Longview        110533.333333  106933.333333  106133.333333
...                                   ...            ...            ...
Mississippi Ecru                      NaN            NaN            NaN
            Plantersville    66566.666667   67000.000000   70733.333333
            Sandy Hook                NaN            NaN            NaN
            Shubuta          46666.666667   46900.000000   48133.333333
            Pope                      NaN            NaN            NaN
            Golden           59766.666667   59866.666667   59666.666667
            Coffeeville               NaN            NaN            NaN
            Lambert                   NaN            NaN            NaN
            Burnsville                NaN            NaN            NaN
            Moselle          84533.333333   81566.666667   79700.000000
            Abbeville        81933.333333   85233.333333   86266.666667
            Lake             66200.000000   66033.333333   64366.666667
            Lamar            57700.000000   57233.333333   58366.666667
            Farmington       66933.333333   66466.666667   68633.333333
            Duck Hill                 NaN            NaN            NaN
            Shannon          67666.666667   69700.000000   71800.000000
            Smithville       51733.333333   52233.333333   51833.333333
            Kilmichael                NaN            NaN            NaN
            Rienzi                    NaN            NaN            NaN
            Hamilton                  NaN            NaN            NaN
            Marietta         53666.666667   55133.333333   55166.666667
            Mize             65733.333333   65366.666667   64333.333333
            Ovett            71733.333333   72566.666667   75566.666667
            Lynchburg                 NaN            NaN            NaN
            Courtland                 NaN            NaN            NaN
            Bassfield                 NaN            NaN            NaN
            Soso             78900.000000   73833.333333   72000.000000
            Falkner                   NaN            NaN            NaN
            Sarah           111900.000000  111900.000000  112000.000000
            Benton                    NaN            NaN            NaN

                                   2002q2     ...             2014q3  \
State       RegionName                        ...
Washington  Seattle         284600.000000     ...      449433.333333
            Spokane          96633.333333     ...      138666.666667
            Tacoma          147233.333333     ...      183000.000000
            Vancouver       144866.666667     ...      208966.666667
            Renton          227233.333333     ...      314633.333333
            Bellevue        330933.333333     ...      578166.666667
            Everett         179800.000000     ...      241300.000000
            Federal Way     189433.333333     ...      248533.333333
            Kennewick       131300.000000     ...      168166.666667
            Yakima          115100.000000     ...      145266.666667
            Spokane Valley  111166.666667     ...      158400.000000
            Kent            203400.000000     ...      261433.333333
            Redmond         323366.666667     ...      550733.333333
            Lynnwood        224133.333333     ...      323666.666667
            Kirkland        272800.000000     ...      450300.000000
            Pasco           115233.333333     ...      156966.666667
            Bremerton       135866.666667     ...      197633.333333
            Marysville      186633.333333     ...      249166.666667
            Auburn          192933.333333     ...      254166.666667
            Lakewood        165266.666667     ...      208400.000000
            Snohomish       270066.666667     ...      385900.000000
            Port Orchard    159766.666667     ...      233366.666667
            Issaquah        318266.666667     ...      512633.333333
            Shoreline       238933.333333     ...      353500.000000
            South Hill      181400.000000     ...      237000.000000
            Richland        156400.000000     ...      195000.000000
            Mount Vernon              NaN     ...      227966.666667
            Sammamish       405200.000000     ...      662600.000000
            Spanaway        155066.666667     ...      205866.666667
            Longview        108733.333333     ...      156366.666667
...                                   ...     ...                ...
Mississippi Ecru                      NaN     ...       79966.666667
            Plantersville    71066.666667     ...       80000.000000
            Sandy Hook                NaN     ...      116300.000000
            Shubuta          48466.666667     ...       65933.333333
            Pope                      NaN     ...       86333.333333
            Golden           56966.666667     ...       99166.666667
            Coffeeville               NaN     ...       75400.000000
            Lambert                   NaN     ...       59966.666667
            Burnsville                NaN     ...       87500.000000
            Moselle          81366.666667     ...      128866.666667
            Abbeville        89633.333333     ...      128100.000000
            Lake             64266.666667     ...      113633.333333
            Lamar            59166.666667     ...       75366.666667
            Farmington       70900.000000     ...       88300.000000
            Duck Hill                 NaN     ...       81866.666667
            Shannon          70433.333333     ...       82066.666667
            Smithville       52466.666667     ...       90400.000000
            Kilmichael                NaN     ...       70466.666667
            Rienzi                    NaN     ...       86866.666667
            Hamilton                  NaN     ...       92266.666667
            Marietta         52166.666667     ...       84366.666667
            Mize             64100.000000     ...       91133.333333
            Ovett            79166.666667     ...      127400.000000
            Lynchburg                 NaN     ...      116900.000000
            Courtland                 NaN     ...       91300.000000
            Bassfield                 NaN     ...       88200.000000
            Soso             73166.666667     ...      110566.666667
            Falkner                   NaN     ...       83466.666667
            Sarah           112000.000000     ...      107033.333333
            Benton                    NaN     ...       98333.333333

                                   2014q4         2015q1         2015q2  \
State       RegionName
Washington  Seattle         457466.666667  470100.000000  497333.333333
            Spokane         141500.000000  142433.333333  144633.333333
            Tacoma          186200.000000  188400.000000  195633.333333
            Vancouver       214500.000000  219866.666667  224500.000000
            Renton          320866.666667  327400.000000  338133.333333
            Bellevue        590733.333333  607300.000000  629833.333333
            Everett         245000.000000  249366.666667  256266.666667
            Federal Way     253433.333333  259066.666667  267966.666667
            Kennewick       177200.000000  182866.666667  182933.333333
            Yakima          149633.333333  155300.000000  161000.000000
            Spokane Valley  161300.000000  162666.666667  164966.666667
            Kent            266566.666667  271200.000000  279966.666667
            Redmond         557866.666667  571233.333333  590500.000000
            Lynnwood        328500.000000  333133.333333  343100.000000
            Kirkland        458266.666667  467766.666667  484700.000000
            Pasco           158133.333333  160000.000000  162733.333333
            Bremerton       200066.666667  200833.333333  208233.333333
            Marysville      252200.000000  256933.333333  263166.666667
            Auburn          258833.333333  263266.666667  271466.666667
            Lakewood        210366.666667  215233.333333  223066.666667
            Snohomish       390566.666667  397600.000000  408433.333333
            Port Orchard    234600.000000  234900.000000  237800.000000
            Issaquah        523166.666667  532966.666667  548633.333333
            Shoreline       360500.000000  373533.333333  398033.333333
            South Hill      240766.666667  244033.333333  249400.000000
            Richland        204900.000000  211966.666667  214133.333333
            Mount Vernon    228533.333333  230300.000000  238100.000000
            Sammamish       675400.000000  680033.333333  693266.666667
            Spanaway        210600.000000  212366.666667  214933.333333

In [66]:
test_result= stats.ttest_ind(univGroup['PriceRatio'], otherGroup['PriceRatio'], nan_policy='omit')

In [63]:
ttest_ind?

In [68]:
test_result.pvalue < 0.01

False

In [69]:
type(test_result.pvalue)

numpy.float64

In [71]:
if univGroup['PriceRatio'].mean() > otherGroup['PriceRatio'].mean(): 
    better = 'non-university town'
else:
    better = 'university town'
        
better

'university town'